<div class="v-page-heading v-fancy-heading light-style v-fancy-image v-fancy-top-header marketing-promo">
    <div class="container z-index-1">
        <div class="row">
            <div class="col-sm-12 text-center text-white">
                <h2 class="section-title body-font fs-65 lh-72 fw-7">
                    Express will help manage <br />
                    your business. <strong class="badge badge-express fs-46">Join</strong>
                </h2>
                <p class="section-sub-title fs-24 o-9 text-white">We’re here to help you manage your business.</p>

                <a href="#" class="btn btn-primary btn-md">Sign Up Now</a>
            </div>
        </div>

        <!--<div class="exp-separator center-separator">
           <div class="exp-separator-inner">
           </div>
        </div>

        <div class="row">
           <div class="col-md-10 offset-md-1 counters">

              <div class="row">

                 <div class="col-md-4 col-sm-6">
                    <div class="counter text-white">
                       <strong class="fs-42 text-white" data-to="48.500" data-plugin-options="{&quot;decimals&quot;: 3}">48.500</strong> <i class="icon-users fs-40 ml-5"></i>
                       <span class="fs-20">Happy Customer</span>
                    </div>
                 </div>

                 <div class="col-md-4 col-sm-6">
                    <div class="counter text-white">
                       <div class="clearfix">
                          <i class="icon-facebook fs-40"></i> <strong class="fs-42 text-white" data-to="7500">7500</strong><span class="counter-append lh-42">k</span>
                       </div>
                       <span class="fs-20">Facebook Likes</span>
                    </div>
                 </div>

                 <div class="col-md-4 col-sm-6">
                    <div class="counter text-white">
                       <strong class="fs-42 text-white" data-to="105.49" data-plugin-options="{&quot;decimals&quot;: 2}">105.49</strong> <span class="counter-append lh-42">$</span>
                       <span class="fs-20">Extremely Cheap</span>
                    </div>
                 </div>
              </div>
           </div>
        </div>-->
    </div>
</div>