<section class="section-primary gr03 pt-130 pb-150">

    <div class="section-img top--inherit bottom-2">
        <img src="/Content/img/custom/sectionbg.png" alt="express">
    </div>
    <div class="container">
        <div class="row text-white">
            <div class="col-md-10 offset-md-1 text-center">

                <h2 class="section-title fs-38 mt-50">Unique, Truly Responsive & Clean <br /> Bootstrap 4 Template</h2>
                <p class="section-sub-title o-9 text-white">
                    No matter how complex your project is, Express for teams makes it easy to  <br />
                    share your entire development stack with anyone, anywhere.
                </p>
            </div>

            <div class="col-md-12">

                <div class="clearfix text-center mt-40">
                    <a href="#" class="btn standard black item-shadow-2x"><i class="fa fa-check-circle"></i> Join Us Today</a>
                    <a href="#" class="btn btn-primary item-shadow-2x"><i class="fa fa-diamond"></i> Get in touch</a>
                </div>
            </div>
        </div>
    </div>

</section>