@using ExpressMVC.Models.Common

<footer id="footer" class="footer-hover-links-light bg-dark-5 mt-0">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <a href="index.html" class="logo">
                    <img alt="Express Web App" class="img-fluid max-width-150 mb-5" src="~/Content/img/logo-white.png" />
                </a>
            </div>
        </div>
        <div class="row text-center pt-0 pb-5">
            <div class="col">
                <p class="mb-2">1234 Street Name, City Name, USA</p>
                <a href="tel:+1234567890" class="d-block mb-2">(123) 456-7890</a>
                <a href="mailto:mail@example.com" class="link-underline-light text-color-light">mail@example.com</a>
            </div>
        </div>
    </div>
</footer>