@using ExpressMVC.Models.Common

@using (Html.BeginContent("Footer"))
{
    <footer id="footer" class="footer-hover-links-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mb-4 mb-lg-0">
                    <a href="index.html" class="logo">
                        <img alt="Express Website Template" class="img-fluid mb-3" src="~/Content/img/logo-white.png">
                    </a>
                    <p>Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc.</p>
                    <ul class="list list-icon list-unstyled">
                        <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <span class="text-color-light">Address:</span> 1234 Street Name, City Name, USA</li>
                        <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <span class="text-color-light">Phone:</span> <a href="tel:+1234567890">(123) 456-7890</a></li>
                        <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <span class="text-color-light">Email:</span> <a href="mailto:mail@example.com" class="link-underline-light">mail@example.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 mb-4 mb-lg-0">
                    <h2 class="text-3 mb-3">USEFUL LINKS</h2>
                    <ul class="list list-icon list-unstyled">
                        <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <a href="#">Buy Express Now</a></li>
                        <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <a href="contact-us-2.html">Contact Us</a></li>
                        <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <a href="contact-us-3.html">Hire Us</a></li>
                        <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <a href="#">Our Profile</a></li>
                        <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <a href="#">Get Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h2 class="text-3 mb-3">LATEST NEWS</h2>
                    <div class="mb-3">
                        <p class="mb-1"><a href="blog-single-post.html" class="d-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent</a></p>
                        <a href="blog-single-post.html" class="font-tertiary font-style-italic text-color-light">March 5, 2018</a>
                    </div>
                    <div>
                        <p class="mb-1"><a href="blog-single-post.html" class="d-block">Dolor sit amet, consectetur adipi dolor scing elit.</a></p>
                        <a href="blog-single-post.html" class="font-tertiary font-style-italic text-color-light">March 5, 2018</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row text-center text-md-left align-items-center">
                    <div class="col-md-7 col-lg-8">
                        <ul class="social-icons social-icons-transparent social-icons-icon-light social-icons-lg">
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <p class="text-md-right pb-0 mb-0">Copyrights © 2018. All Rights Reserved by Express</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
}