@model ExpressMVC.Models.Common.FooterModel
@using ExpressMVC.Models.Common

@{ 
    string footerColor = string.Empty;
    if (Model != null)
    {
        switch (Model.UIProps.BGColor)
        {
            case ExpressMVC.UI.ThemeColor.Default:
                break;
            case ExpressMVC.UI.ThemeColor.Primary:
                footerColor = "footer-primary";
                break;
            case ExpressMVC.UI.ThemeColor.Secondary:
                footerColor = "footer-secondary";
                break;
            case ExpressMVC.UI.ThemeColor.Tertiary:
                footerColor = "footer-tertiary";
                break;
            case ExpressMVC.UI.ThemeColor.Quaternary:
                footerColor = "footer-quaternary";
                break;
            case ExpressMVC.UI.ThemeColor.Dark:
                break;
            default:
                break;
        }
    }
}

@using (Html.BeginContent("Footer"))
{
    <footer id="footer" class="footer-default footer-hover-links-light @footerColor">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 mb-4 mb-lg-0">
                    <a href="index.html" class="logo">
                        <img alt="Express Website Template" style="height: 75px;margin-top:-20px;" class="img-fluid mb-2" src="~/Content/img/logo-white.png">
                    </a>
                    <p>
                        Class aptent taciti sociosqu ad litora torquent
                        per conubia nostra, per inceptos himenaeos. Nulla
                        nunc dui, tristique in semper vel, congue sed ligula auctor torquent per conubia nostra.
                    </p>
                    <a class="text-uppercase text-color-light" href="blog-standard-post.html">Read More →</a>
                </div>
                <div class="col-md-2 col-sm-6">
                </div>
                <div class="col-md-3 col-sm-6 mb-4 mb-lg-0">
                    <h2 class="text-1 mb-4">LOCATE US</h2>
                    <ul class="list list-icon list-unstyled">
                        <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <span class="text-color-light">Address:</span> 1234 Street Name, City Name, USA</li>
                        <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <span class="text-color-light">Phone:</span> <a href="tel:+1234567890">(123) 456-7890</a></li>
                        <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <span class="text-color-light">Email:</span> <a href="mailto:mail@example.com" class="link-underline-light">mail@example.com</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h2 class="text-1 mb-4">PROJECTS</h2>
                    <ul class="project-list d-inline-block list-unstyled">
                        <li>
                            <a href="#">
                                <img src="/content/img/thumbs/project-6.jpg" alt="Desert Mini Planet">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/content/img/thumbs/project-5.jpg" alt="SAAP">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/content/img/thumbs/project-4.png" alt="Robot Chicken">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/content/img/thumbs/project-3.jpg" alt="Tree">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/content/img/thumbs/project-2.jpg" alt="Space Invaders">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/content/img/thumbs/project-7.jpg" alt="Polar Ice">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/content/img/thumbs/project-8.png" alt="Robot Chicken">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/content/img/thumbs/project-9.png" alt="Tree">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row text-center text-md-left align-items-center">
                    <div class="col-md-7 col-lg-8">
                        <ul class="social-icons social-icons-transparent social-icons-icon-light social-icons-lg">
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <p class="text-md-right pb-0 mb-0">Copyrights © 2018. All Rights Reserved by Express</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
}