@using ExpressMVC.Models.Common

<footer id="footer" class="bg-light mb-5 mt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <h2 class="text-color-dark font-weight-semibold text-1 mb-3">ABOUT EXPRESS</h2>
                <p>Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc.</p>
            </div>
            <div class="col-lg-4 ml-auto mb-4 mb-lg-0">
                <h2 class="text-color-dark font-weight-semibold text-1 mb-3">OUR LOCATION</h2>
                <ul class="list list-unstyled">
                    <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <span class="text-color-dark">Address:</span> 1234 Street Name, City Name, USA</li>
                    <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <span class="text-color-dark">Phone:</span> <a href="tel:+1234567890">(123) 456-7890</a></li>
                    <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <span class="text-color-dark">Email:</span> <a href="mailto:mail@example.com" class="link-underline-dark">mail@example.com</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h2 class="text-color-dark font-weight-semibold text-1 mb-3">QUICK LINKS</h2>
                <ul class="list list-unstyled">
                    <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <a href="https://wrapbootstrap.com/theme/express-business-website-template-WB0TR1711">Buy Express Now</a></li>
                    <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <a href="contact-us-2.html">Contact Us</a></li>
                    <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <a href="contact-us-3.html">Hire Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>