@using ExpressMVC.Models.Common

<footer id="footer" class="footer-hover-links-light mt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-4 mb-lg-0">
                <h2 class="text-3 mb-3">CATEGORIES</h2>
                <ul class="list list-icon list-unstyled">
                    <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <a href="shop-3-columns-left-sidebar.html">Men's fashion</a></li>
                    <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <a href="shop-3-columns-left-sidebar.html">Women's fashion</a></li>
                    <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <a href="shop-3-columns-left-sidebar.html">Kid's fashion</a></li>
                    <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <a href="shop-3-columns-left-sidebar.html">Accessories</a></li>
                    <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <a href="shop-3-columns-left-sidebar.html">Shoes</a></li>
                </ul>
            </div>
            <div class="col-lg-3 mb-5 mb-lg-0">
                <h2 class="text-3 mb-3">LATEST NEWS</h2>
                <div class="mb-3">
                    <p class="mb-2"><a href="blog-single-post.html" class="d-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent</a></p>
                    <a href="blog-single-post.html" class="font-tertiary font-style-italic text-color-light">March 5, 2018</a>
                </div>
                <div>
                    <p class="mb-2"><a href="blog-single-post.html" class="d-block">Dolor sit amet, consectetur dolor adipi scing elit.</a></p>
                    <a href="blog-single-post.html" class="font-tertiary font-style-italic text-color-light">March 5, 2018</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <h2 class="text-3 mb-3">NEWSLETTER</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>

                <form class="newsletter-form" action="#" method="POST">
                    <div class="newsletter-form-success alert alert-success d-none">
                        <strong>Success!</strong> You've been added to our email list.
                    </div>
                    <div class="newsletter-form-error alert alert-danger d-none">
                        <strong>Error!</strong> There was an error to add your email.
                    </div>

                    <div class="input-group bg-light rounded">
                        <input type="email" class="newsletter-email form-control border-0 rounded" placeholder="Enter Email address" aria-label="Enter Email address" required>
                        <span class="input-group-btn p-1">
                            <button class="btn btn-primary font-weight-semibold btn-h-2 rounded h-100" type="submit">SUBSCRIBE</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row text-center text-md-left align-items-center">
                <div class="col-md-7 col-lg-8">
                    <ul class="social-icons social-icons-transparent social-icons-icon-light social-icons-lg">
                        <li class="social-icons-facebook">
                            <a href="http://www.facebook.com/" target="_blank" title="Facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="social-icons-twitter">
                            <a href="http://www.twitter.com/" target="_blank" title="Twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="social-icons-instagram">
                            <a href="http://www.instagram.com/" target="_blank" title="Instagram">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>							<div class="col-md-5 col-lg-4">
                    <p class="text-md-right pb-0 mb-0">Copyrights © 2018. All Rights Reserved by Express</p>
                </div>
            </div>
        </div>
    </div>
</footer>