

@font-face {
    font-family: 'Museo';
    font-weight:100;
    src: url('fonts/museo/Museo100-Regular-webfont.otf') format('opentype');
}
 
/*@font-face {
    font-family: 'Museo';
    font-weight:300;
    src: url('fonts/museo/Museo300-Regular-webfont.otf') format('opentype'), 
         url('fonts/museo/Museo300-Regular-webfont.ttf') format('truetype');
}*/

@font-face {
    font-family: 'Museo';
    font-weight:300;
    src: url('fonts/museo/Museo_Slab_300-webfont.woff') format('woff'), 
         url('fonts/museo/Museo_Slab_300-webfont.ttf') format('truetype'), 
         url('fonts/museo/Museo_Slab_300-webfont.svg') format('svg'), 
         url('fonts/museo/Museo_Slab_300-webfont.eot') format('embedded-opentype');
}

 @font-face {
    font-family: 'Museo';
    font-weight:500;
    src: url('fonts/museo/Museo500-Regular-webfont.eot') format('embedded-opentype'), 
         url('fonts/museo/Museo500-Regular-webfont.svg') format('svg'), 
         url('fonts/museo/Museo500-Regular-webfont.ttf') format('truetype'), 
         url('fonts/museo/Museo500-Regular-webfont.woff') format('woff');
}
 
@font-face {
    font-family: 'Museo';
    font-weight:700;
    src: url('fonts/museo/Museo700-Regular-webfont.ttf') format('truetype');
}

/*@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}*/

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7,
.col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10,
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2,
.col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl,
.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4,
.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
   /*padding-right: 20px;
   padding-left: 20px;*/
}

.sticky-header-active .header-transparent .header-logo img{
   content:url('../img/logo.png');
}


.pix-business-1 {
    background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)),url(../img/mix/bg-intro.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.pix-business-2 {
    background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)),url(../img/mix/video-section-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.pix-business-3 {
    background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)),url(../img/mix/pricing.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.pix-business-4 {
    background-image: url(../img/mix/startup-team.jpg);
    background-size: cover; 
    background-position: bottom;
    padding-top:7%;
    padding-bottom:25%;
}

.pix-business-6 {
    background-image: url(../img/mix/startup-team-2.jpg);
    background-size: cover; 
    background-position: bottom;
    padding-top:5%;
    padding-bottom:32%;
}

.pix-business-5 {
    background-image: url(../img/mix/header_black.png);
    background-size: cover; 
    background-position: bottom;
}

.gr-bg-1 {
       background: #343e44;
    background: linear-gradient(135deg,#343e44 0%,#0d0f10 100%);
    color: #ffffff;
    padding-top: 11%;
    padding-bottom: 11%;
}

.gr-bg-2 {
       background: linear-gradient(135deg, rgb(132, 84, 226) 0%, rgb(6, 82, 253) 100%);
    color: rgb(255, 255, 255);
    padding-top: 8%;
    padding-bottom: 10%;
    visibility: visible;
}

.gr-text-1 {
       -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
   color: #8454e2;
    background-image: -moz-linear-gradient(-45deg, #8454e2 0%, #0652FD 100%);
    background-image: -webkit-linear-gradient(-45deg, #8454e2 0%, #0652FD 100%);
    background-image: linear-gradient(135deg, #8454e2 0%, #0652FD 100%);
}


.grve-separator-bottom {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 0;
    overflow:visible;
}

.grve-separator {
    position: absolute;
    bottom: -1px;
    left: 0;
}



.newsletter-form-1 {
    text-align: center;
    padding: 80px;
    background-color: white;
    -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,.25);
    -moz-box-shadow: 0 0 50px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 50px 0 rgba(0,0,0,.25);
    -webkit-transition: box-shadow .3s ease-in-out;
    -moz-transition: box-shadow .3s ease-in-out;
    -ms-transition: box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
}

.cbp-l-grid-masonry-projects-title,
.cbp-l-grid-projects-title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    color: #333;
    font-family: inherit;
    display: block;
    font-family: 'Museo';
}

.cbp-caption-active .cbp-caption {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.qode-demos-list-holder article .qode-dli-image:hover {
    -webkit-box-shadow: 3px 5px 35px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 3px 5px 35px 0 rgba(0,0,0,.15);
    box-shadow: 3px 5px 35px 0 rgba(0,0,0,.15);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
}

.cbp-l-grid-projects-desc {
    color: #b5b5b5;
} 

.cbp-l-filters-buttonCenter .cbp-filter-item{
    font-family: inherit;
    position: relative;
    z-index: 1;
    padding: 0 10px;
    text-transform: uppercase;
    display: inline-block;
    width: auto;
    font-size: 11px;
    font-weight: 700;
    border: none;
    color: #333;
    margin: 0 2px 10px 5px;
}

.cbp-l-filters-button .cbp-filter-item {
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5rem 1rem;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    display: inline-block; 
}
 
.cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active {
    background-color: transparent;
    color: #3799ef;
    border-color: transparent;
    cursor: default;
}

.cbp-l-filters-button .cbp-filter-counter:after {
    border-top: 4px solid #3799ef;
}

.cbp-l-filters-button .cbp-filter-counter {
    background-color: #3799ef;
}

.cbp-l-dropdown-wrap { 
    background: #3799ef;
}

.cbp-l-direction { 
    background: #3799ef; 
    border-left: 1px solid rgba(255, 255, 255, 0.2784313725490196);
}
.cbp-l-dropdown-list .cbp-l-dropdown-item {
    color: #b3b3b3;
    border-top: 1px solid rgba(255, 255, 255, 0.2784313725490196);
}

.cbp-l-grid-projects-desc {
    font: inherit;
    font-size: 13px;
    color: #888888; 
        margin-top: 0;
}





.customCounter.counters label{
        font-size: 13px;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    color: #3799ef;
}

.customCounter.counters strong {
        margin-bottom: 25px;
    margin-top: 25px;
}

.customCounter.counters i {
    color: #3799ef;
}

 @font-face {
    font-family: 'camphor';
    src: url('fonts/300-light.woff2') format('woff2');
    font-weight:300;
}
@font-face {
    font-family: 'camphor';
    src: url('fonts/400-regular.woff2') format('woff2');
    font-weight:400;
}
@font-face {
    font-family: 'camphor';
    src: url('fonts/500-medium.woff2') format('woff2');
    font-weight:500;
}
@font-face {
    font-family: 'camphor';
    src: url('fonts/600-bold.woff2') format('woff2');
    font-weight:600;
}











.StripeBackground-container {
    position: absolute;
    width: 100%;
    overflow: hidden
}

.StripeBackground-large {
    -webkit-transform: skew(0,-12deg);
    transform: skew(0,-12deg);
    will-change: transform;
    position: absolute;
    left: 0;
    right: 0
}

.StripeBackground-large .stripe {
    position: absolute;
    height: 50px;
    top: auto
}

.StripeBackground-container {
    height: 620px
}

@media (min-width: 670px) {
    .StripeBackground-container {
        height:900px
    }
}

.StripeBackground-large {
    display: block;
    bottom: 45%
}

.StripeBackground-large .gradient {
    background-image: linear-gradient(-81deg,#6fa7f8 1%,#777bf8);
    bottom: 0;
    left: 0;
    right: 0;
    height: 5000px;
    margin-bottom: 50px
}

.StripeBackground-large .dots {
    position: absolute;
    height: 200px;
    width: 290px;
    top: auto;
    bottom: -50px;
    left: calc(100% - 150px);
    background: url(/img/v3/contact/dots.svg);
    background-size: auto;
    -webkit-transform: skew(0,12deg) rotate(90deg);
    transform: skew(0,12deg) rotate(90deg);
    opacity: .5
}

@media (min-width: 670px) {
    .StripeBackground-large .dots {
        opacity:1;
        position: absolute;
        height: 200px;
        width: 450px;
        top: auto;
        bottom: 50px;
        left: calc(100% - 450px);
        background: url(/img/v3/contact/dots.svg);
        background-size: auto;
        -webkit-transform: skew(0,12deg) rotate(-12deg);
        transform: skew(0,12deg) rotate(-12deg)
    }
}

.StripeBackground-large .stripe.below {
    bottom: 0;
    left: calc(100% - 112px);
    right: calc(50% - 312px);
    background-color: #ecfaff;
    display: none
}

@media (min-width: 670px) {
    .StripeBackground-large .stripe.below {
        display:block;
        bottom: -50px;
        left: calc(100% - 440px);
        right: calc(50% - 572px);
        background-color: #ecfaff
    }
}

.StripeBackground-large .stripe.s1 {
    background-color: #3799ef;
    bottom: 0;
    left: 0;
    right: calc(100% - 35px)
}

@media (min-width: 670px) {
    .StripeBackground-large .stripe.s1 {
        right:calc(100% - 355px)
    }
}

.StripeBackground-large .stripe.s2 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(6%,#edf6ff),color-stop(23%,#edf6ff),color-stop(95%,#fff));
    background-image: linear-gradient(90deg,#edf6ff 6%,#edf6ff 23%,#fff 95%);
    bottom: 0;
    left: 355px;
    right: 600px
}

.StripeBackground-large .stripe.s3 {
    background: #9cdbff;
    bottom: 0;
    left: calc(50% + 260px);
    right: 0
}

.StripeBackground-large .stripe.s4 {
    opacity: .16;
    background: #9cdbff;
    bottom: -50px;
    left: 0;
    right: calc(50% + 475px)
}

.StripeBackground-large .stripe.s5 {
    background-color: rgba(0,0,0,.14);
    mix-blend-mode: soft-light;
    bottom: 200px;
    right: 0;
    width: 100px
}

.StripeBackground-large .stripe.s6 {
    background-image: -webkit-gradient(linear,right top,left top,from(transparent),color-stop(rgba(0,0,0,.3)),to(transparent));
    background-image: linear-gradient(-90deg,transparent,rgba(0,0,0,.3),transparent);
    mix-blend-mode: soft-light;
    bottom: 100px;
    left: 53px;
    right: calc(50% + 40px);
    opacity: 0;
    -webkit-animation: none;
    animation: none
}

@media (min-width: 670px) {
    .StripeBackground-large .stripe.s6 {
        -webkit-animation:animate-stripe-8 5s infinite;
        animation: animate-stripe-8 5s infinite;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-animation-delay: 3s;
        animation-delay: 3s;
        opacity: 0;
        will-change: transfrom,opacity
    }
}

.StripeBackground-large .stripe.s7 {
    background-image: -webkit-gradient(linear,right top,left top,from(transparent),color-stop(rgba(0,0,0,.3)),to(transparent));
    background-image: linear-gradient(-90deg,transparent,rgba(0,0,0,.3),transparent);
    mix-blend-mode: soft-light;
    bottom: 100px;
    left: calc(50% + 290px);
    right: 0;
    opacity: 0;
    -webkit-animation: none;
    animation: none
}

@media (min-width: 670px) {
    .StripeBackground-large .stripe.s7 {
        opacity:0;
        -webkit-animation: animate-stripe-7 5s infinite;
        animation: animate-stripe-7 5s infinite;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        will-change: transfrom,opacity
    }
}

@-webkit-keyframes animate-stripe-7 {
    0% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
        opacity: 0
    }

    30% {
        opacity: 1
    }

    60% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0
    }
}

@keyframes animate-stripe-7 {
    0% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
        opacity: 0
    }

    30% {
        opacity: 1
    }

    60% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0
    }
}

.StripeBackground-large .stripe.s8 {
    background-image: -webkit-gradient(linear,right top,left top,from(hsla(0,0%,100%,0)),color-stop(hsla(0,0%,100%,.24)),to(hsla(0,0%,100%,0)));
    background-image: linear-gradient(-90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.24),hsla(0,0%,100%,0));
    mix-blend-mode: soft-light;
    bottom: 150px;
    left: 53px;
    right: calc(50% + 220px);
    opacity: 0;
    -webkit-animation: none;
    animation: none
}

@media (min-width: 670px) {
    .StripeBackground-large .stripe.s8 {
        -webkit-animation:animate-stripe-8 7s infinite;
        animation: animate-stripe-8 7s infinite;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        will-change: transfrom,opacity
    }
}

@-webkit-keyframes animate-stripe-8 {
    0% {
        -webkit-transform: translateX(-350px);
        transform: translateX(-350px);
        opacity: 0
    }

    30% {
        opacity: 1
    }

    60% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
        opacity: 0
    }
}

@keyframes animate-stripe-8 {
    0% {
        -webkit-transform: translateX(-350px);
        transform: translateX(-350px);
        opacity: 0
    }

    30% {
        opacity: 1
    }

    60% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
        opacity: 0
    }
}

.StripeBackground-large .stripe.s9 {
    background-image: -webkit-gradient(linear,right top,left top,from(transparent),color-stop(rgba(0,0,0,.4)),to(transparent));
    background-image: linear-gradient(-90deg,transparent,rgba(0,0,0,.4),transparent);
    mix-blend-mode: soft-light;
    bottom: 150px;
    left: 50%;
    right: calc(50% - 360px);
    -webkit-animation: animate-stripe-9 4s infinite;
    animation: animate-stripe-9 4s infinite;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    will-change: transfrom,opacity
}

@-webkit-keyframes animate-stripe-9 {
    0% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
        opacity: 0
    }

    30% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
        opacity: 0
    }

    60% {
        opacity: 1
    }

    to {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
        opacity: 0
    }
}

@keyframes animate-stripe-9 {
    0% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
        opacity: 0
    }

    30% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
        opacity: 0
    }

    60% {
        opacity: 1
    }

    to {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
        opacity: 0
    }
}

.StripeBackground-large .stripe.s10 {
    background-image: -webkit-gradient(linear,right top,left top,from(hsla(0,0%,100%,0)),color-stop(hsla(0,0%,100%,.4)),to(hsla(0,0%,100%,0)));
    background-image: linear-gradient(-90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.4),hsla(0,0%,100%,0));
    mix-blend-mode: soft-light;
    bottom: 150px;
    left: calc(50% + 220px);
    right: 0;
    opacity: 0;
    -webkit-animation: none;
    animation: none
}

@media (min-width: 670px) {
    .StripeBackground-large .stripe.s10 {
        opacity:0;
        -webkit-animation: animate-stripe-10 6s infinite;
        animation: animate-stripe-10 6s infinite;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        will-change: transfrom,opacity
    }
}

@-webkit-keyframes animate-stripe-10 {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0
    }

    30% {
        opacity: 1
    }

    60% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
        opacity: 0
    }
}

@keyframes animate-stripe-10 {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0
    }

    30% {
        opacity: 1
    }

    60% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
        opacity: 0
    }
}

.StripeBackground-large .stripe.s11 {
    opacity: .12;
    background-image: -webkit-gradient(linear,right top,left top,from(#000),color-stop(97%,#000));
    background-image: linear-gradient(-90deg,#000,#000 97%);
    mix-blend-mode: soft-light;
    bottom: 200px;
    left: calc(50% - 430px);
    right: calc(50% + 200px)
}

.StripeBackground-large .stripe.s12 {
    background-image: -webkit-gradient(linear,right top,left top,from(transparent),color-stop(rgba(0,0,0,.3)),to(transparent));
    background-image: linear-gradient(-90deg,transparent,rgba(0,0,0,.3),transparent);
    mix-blend-mode: soft-light;
    bottom: 600px;
    left: 53px;
    right: calc(50% + 40px);
    opacity: 0;
    -webkit-animation: none;
    animation: none
}

@media (min-width: 670px) {
    .StripeBackground-large .stripe.s12 {
        -webkit-animation:animate-stripe-8 5s infinite;
        animation: animate-stripe-8 5s infinite;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-animation-delay: 3s;
        animation-delay: 3s;
        opacity: 0;
        will-change: transfrom,opacity
    }
}

.StripeBackground-large .stripe.s13 {
    background-image: -webkit-gradient(linear,right top,left top,from(hsla(0,0%,100%,0)),color-stop(hsla(0,0%,100%,.24)),to(hsla(0,0%,100%,0)));
    background-image: linear-gradient(-90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.24),hsla(0,0%,100%,0));
    mix-blend-mode: soft-light;
    bottom: 550px;
    left: 53px;
    right: calc(50% + 40px);
    opacity: 0;
    -webkit-animation: none;
    animation: none
}

@media (min-width: 670px) {
    .StripeBackground-large .stripe.s13 {
        -webkit-animation:animate-stripe-8 5s infinite;
        animation: animate-stripe-8 5s infinite;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        opacity: 0;
        will-change: transfrom,opacity
    }
}


.section-bg-stylish-1 {
    background-color: #f6f6f6;
    background-image: url(/Content/img/core/v-arrow.png);
    background-position: top center;
    background-repeat: no-repeat;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid rgb(238, 238, 238);
}