<div class="container">
    <div class="pricing-table pricing-table-style-1 mb-5">
        <div class="row">
            <div class="col-lg-3 col-md-6 p-0 plan">
                <div class="plan-title">
                    <h3 class="text-color-secondary">Basic</h3>
                </div>
                <div class="plan-price">
                    <strong><em>$</em>19</strong>
                    <p>1 month</p>
                </div>
                <div class="plan-detail">
                    <ul>
                        <li>Exclusive Design</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Bootstrap</li>
                        <li>Sass</li>
                        <li>Images and Videos</li>
                    </ul>
                    <a href="#" class="btn btn-outline btn-rounded btn-h-4 btn-primary font-weight-bold">BUY NOW</a>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 p-0 plan">
                <div class="plan-title">
                    <h3 class="text-color-secondary">Plus</h3>
                </div>
                <div class="plan-price">
                    <strong><em>$</em>29</strong>
                    <p>1 month</p>
                </div>
                <div class="plan-detail">
                    <ul>
                        <li>Exclusive Design</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Bootstrap</li>
                        <li>Sass</li>
                        <li>Images and Videos</li>
                    </ul>
                    <a href="#" class="btn btn-outline btn-rounded btn-h-4 btn-primary font-weight-bold">BUY NOW</a>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 p-0 plan plan-most-popular border-color-primary">
                <div class="plan-title">
                    <h3 class="text-color-primary">Advanced</h3>
                    <em>Most Popular</em>
                </div>
                <div class="plan-price">
                    <strong class="text-primary"><em>$</em>39</strong>
                    <p>1 month</p>
                </div>
                <div class="plan-detail">
                    <ul>
                        <li>Exclusive Design</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Bootstrap</li>
                        <li>Sass</li>
                        <li>Images and Videos</li>
                    </ul>
                    <a href="#" class="btn btn-rounded btn-h-4 btn-primary font-weight-bold">BUY NOW</a>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 p-0 plan">
                <div class="plan-title">
                    <h3 class="text-color-secondary">Enterprise</h3>
                </div>
                <div class="plan-price">
                    <strong><em>$</em>499</strong>
                    <p>1 year</p>
                </div>
                <div class="plan-detail">
                    <ul>
                        <li>Exclusive Design</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Bootstrap</li>
                        <li>Sass</li>
                        <li>Images and Videos</li>
                    </ul>
                    <a href="#" class="btn btn-outline btn-roundedbtn-h-4 btn-primary font-weight-bold">BUY NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>