<form id="sidebarSearchForm" class="sidebar-search" action="#" method="get">
    <div class="input-group">
        <input type="text" class="form-control line-height-1 bg-light-5" name="s" id="s" placeholder="Search..." required="">
        <span class="input-group-btn">
            <button class="btn btn-light" type="submit"><i class="fas fa-search text-color-primary"></i></button>
        </span>
    </div>
</form>