    <div class="card bg-primary border-0 rounded">
        <div class="card-body p-4 my-3">
            <div class="icon-box icon-box-style-1 align-items-center mb-0">
                <div class="icon-box-icon pr-2">
                    <img width="60" src="img/icons/envelope.svg" alt="" data-icon data-plugin-options="{'color': '#FFF'}" />
                </div>
                <div class="icon-box-info">
                    <div class="icon-box-info-title">
                        <span class="icon-box-sub-title text-color-light">SUBSCRIBE TO OUR</span>
                        <h4 class="text-color-light font-weight-bold line-height-1 mb-0">NEWSLETTER</h4>
                    </div>
                </div>
            </div>
            <p class="text-color-light opacity-6 mb-3">Enter your email address to subscribe to my newsletter</p>
            <form class="newsletter-form newsletter-form-error-pos-2 form-errors-light" action="#" method="post">
                <div class="newsletter-form-success alert alert-success d-none">
                    <strong>Success!</strong> You've been added to our email list.
                </div>
                <div class="newsletter-form-error alert alert-danger d-none">
                    <strong>Error!</strong> There was an error to add your email.
                </div>

                <div class="form-row">
                    <div class="form-group col mb-0">
                        <input type="email" class="newsletter-email form-control rounded-0 border-0 line-height-1" placeholder="Email address" aria-label="Email address" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col mb-0">
                        <input type="submit" value="SUBSCRIBE" class="btn btn-quaternary btn-v-3 font-weight-semibold justify-content-center w-100 rounded-0">
                    </div>
                </div>
            </form>
        </div>
    </div>