<ul class="list-inline">
    <li class="list-inline-item"><a href="#" class="badge badge-light badge-sm badge-pill px-3 py-2 mb-2">NEWS</a></li>
    <li class="list-inline-item"><a href="#" class="badge badge-light badge-sm badge-pill px-3 py-2 mb-2">JOBS</a></li>
    <li class="list-inline-item"><a href="#" class="badge badge-light badge-sm badge-pill px-3 py-2 mb-2">POST</a></li>
    <li class="list-inline-item"><a href="#" class="badge badge-light badge-sm badge-pill px-3 py-2 mb-2">PHOTOS</a></li>
    <li class="list-inline-item"><a href="#" class="badge badge-light badge-sm badge-pill px-3 py-2 mb-2">INNOVATION</a></li>
</ul>