 
<article class="mb-5">
    <div class="media mb-1">
        <div class="d-flex mr-3">
            <img class="img-fluid rounded u-avatar" src="~/Content/img/thumbs/project-2.jpg" alt="Image Description">
        </div>
        <div class="media-body">
            <h4 class="text-2 mb-0">
                <a class="text-color-dark" href="#">
                   Aenean commodo ligula eget dolor
                </a>
            </h4>
            <span class="text-color-primary">Jan 17, 2018</span>
        </div>
    </div>
</article>

<article class="mb-5">
    <div class="media mb-1">
        <div class="d-flex mr-3">
            <img class="img-fluid rounded u-avatar" src="~/Content/img/thumbs/project-3.jpg" alt="Image Description">
        </div>
        <div class="media-body">
            <h4 class="text-2 mb-0">
                <a class="text-color-dark" href="#">
                   Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus
                </a>
            </h4>
            <span class="text-color-primary">Jan 17, 2018</span>
        </div>
    </div>
</article>

<article>
    <div class="media mb-1">
        <div class="d-flex mr-3">
            <img class="img-fluid rounded u-avatar" src="~/Content/img/thumbs/project-4.png" alt="Image Description">
        </div>
        <div class="media-body">
            <h4 class="text-2 mb-0">
                <a class="text-color-dark" href="#">
                   Cras ultricies mi eu turpis hendrerit fringilla
                </a>
            </h4>
            <span class="text-color-primary">Jan 17, 2018</span>
        </div>
    </div>
</article>
 