@model ExpressMVC.Models.Portfolio.PortfolioListModel
@using ExpressMVC.Models.Common

@Html.ExpressMenu()

@Html.ExpressPageHeader(new PageHeaderModel(title: "Honiara"))

@Html.ExpressFooter()


<section class="section">
    <div class="container">

        <div class="row">

            <div class="col-md-12">

                @Html.ExpressPortfolio(Model)

            </div>
        </div>
    </div>
</section>