@using (Html.BeginCss())
{

    <link rel="stylesheet" href="/Content/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="/Content/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="/Content/vendor/rs-plugin/css/navigation.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,800,900|Poppins:400%2C300%2C600%2C500" rel="stylesheet" type="text/css" />
}

<!--Slider-->

<section id="slider" class="revslider-wrap clearfix">
    <div class="rev_slider_wrapper" style="background-color:#2d3032;padding:0px;" ">
        <!-- START REVOLUTION SLIDER 5.3.1.6 fullscreen mode -->
        <div id="rev_slider_17_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.1.6">
            <ul>
                <!-- SLIDE  -->
                <li class="dark" data-index="rs-41" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/content/sliders/rs-demo/assets/images/100x50_blur1.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="One" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/content/sliders/rs-demo/assets/images/blurbg13.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <div id="rrzt_41" class="rev_row_zone rev_row_zone_top" style="z-index: 9;">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption  "
                             id="slide-41-layer-14"
                             data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                             data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="row"
                             data-columnbreak="2"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             data-responsive="off"
                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-margintop="[0,0,0,0]"
                             data-marginright="[0,0,0,0]"
                             data-marginbottom="[0,0,0,0]"
                             data-marginleft="[0,0,0,0]"
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[150,100,50,50]"
                             data-paddingright="[100,50,40,40]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[100,50,40,40]"
                             style="z-index: 9; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption  "
                                 id="slide-41-layer-15"
                                 data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                                 data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="column"
                                 data-responsive_offset="on"
                                 data-responsive="off"
                                 data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-columnwidth="100%"
                                 data-margintop="[0,0,0,0]"
                                 data-marginright="[0,0,0,0]"
                                 data-marginbottom="[0,0,0,0]"
                                 data-marginleft="[0,0,0,0]"
                                 data-textAlign="['inherit','inherit','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 10; width: 100%;">
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption   tp-resizeme  blurslider-gradient"
                                     id="slide-41-layer-1"
                                     data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['0','0','230','110']"
                                     data-fontsize="['110','90','100','70']"
                                     data-lineheight="['100','90','100','70']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="text"
                                     data-basealign="slide"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":"+290","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                     data-margintop="[0,0,0,0]"
                                     data-marginright="[0,0,0,0]"
                                     data-marginbottom="[30,20,30,30]"
                                     data-marginleft="[0,0,0,0]"
                                     data-textAlign="['inherit','inherit','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,40,40]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,40,40]"
                                     style="z-index: 11; white-space: nowrap; font-size: 110px; line-height: 100px; font-weight: 400; color: rgba(255, 255, 255, 1.00); display: inline-block;font-family:Poppins;">we create<br />solutions.</div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-41-layer-2"
                                     data-x="['left','left','center','center']" data-hoffset="['0','50','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['0','430','460','290']"
                                     data-fontsize="['40','30','40','25']"
                                     data-lineheight="['50','40','50','30']"
                                     data-width="['640','360','100%','100%']"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-type="text"
                                     data-basealign="slide"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":"+490","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                     data-margintop="[0,0,0,0]"
                                     data-marginright="[0,0,0,0]"
                                     data-marginbottom="[40,30,20,20]"
                                     data-marginleft="[0,0,0,0]"
                                     data-textAlign="['inherit','inherit','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 12; min-width: 640px; max-width: 640px; white-space: normal; font-size: 40px; line-height: 50px; font-weight: 300; color: rgba(255, 255, 255, 1.00); display: block;font-family:Poppins;">
                                    keeping the good parts and
                                    taking out the trash.
                                </div>
                                <!-- LAYER NR. 5 -->
                                <a class="tp-caption rev-btn  tp-resizeme"
                                   href="https://wrapbootstrap.com/theme/express-responsive-bootstrap-template-WB0TR1711" target="_blank" id="slide-41-layer-13"
                                   data-x="['left','left','center','center']" data-hoffset="['0','50','0','0']"
                                   data-y="['top','top','top','top']" data-voffset="['0','540','590','400']"
                                   data-width="none"
                                   data-height="none"
                                   data-whitespace="['normal','nowrap','nowrap','nowrap']"
                                   data-type="button"
                                   data-actions=''
                                   data-basealign="slide"
                                   data-responsive_offset="on"
                                   data-frames='[{"delay":"+690","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"}]'
                                   data-margintop="[0,0,0,0]"
                                   data-marginright="[0,0,0,0]"
                                   data-marginbottom="[0,0,0,0]"
                                   data-marginleft="[0,0,0,0]"
                                   data-textAlign="['inherit','inherit','inherit','inherit']"
                                   data-paddingtop="[0,0,0,0]"
                                   data-paddingright="[35,35,35,35]"
                                   data-paddingbottom="[0,0,0,0]"
                                   data-paddingleft="[35,35,35,35]"
                                   style="z-index: 13; white-space: normal; font-size: 17px; line-height: 50px; font-weight: 600; color: rgba(255, 255, 255, 1.00); display: inline-block;font-family:Poppins;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">buy a license</a>
                            </div>
                        </div>
                    </div>
                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption tp-shape tp-shapewrapper   blurslider-line"
                         id="slide-41-layer-9"
                         data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
                         data-width="['380','380','240','100%']"
                         data-height="['100','100','152','152']"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off"
                         data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"opacity:0;fb:20px;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-blendmode="overlay"
                         style="z-index: 5;background-color:rgba(255, 255, 255, 0.15);cursor:pointer;"></div>
                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption  "
                         id="slide-41-layer-10"
                         data-x="['left','left','left','center']" data-hoffset="['100','100','45','0']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','40','83','88']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off"
                         data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Georgia, serif;font-style:italic;">Start Scrolling</div>
                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption tp-shape tp-shapewrapper "
                         id="slide-41-layer-11"
                         data-x="['left','left','left','center']" data-hoffset="['278','278','120','0']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['32','32','35','36']"
                         data-width="1"
                         data-height="40"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off"
                         data-frames='[{"delay":1100,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:0;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-blendmode="overlay"
                         style="z-index: 7;background-color:rgba(255, 255, 255, 1.00);"></div>
                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption  "
                         id="slide-41-layer-12"
                         data-x="['left','left','left','center']" data-hoffset="['272','272','114','0']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['32','32','34','35']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="image"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off"
                         data-frames='[{"delay":1100,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:0;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 8;">
                        <div class="rs-looped rs-slideloop" data-easing="Power2.easeInOut" data-speed="1" data-xs="0" data-xe="0" data-ys="-34" data-ye="0"><img src="/content/sliders/rs-demo/assets/images/arrow2x.png" alt="" data-ww="['13px','13px','13px','13px']" data-hh="['7px','7px','7px','7px']" data-no-retina> </div>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li class="dark" data-index="rs-42" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/content/sliders/rs-demo/assets/images/100x50_blurbg14.jpg" data-rotate="0" data-saveperformance="off" data-title="Two" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/content/sliders/rs-demo/assets/images/blurbg14.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <div id="rrzt_42" class="rev_row_zone rev_row_zone_top" style="z-index: 5;">
                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption  "
                             id="slide-42-layer-14"
                             data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                             data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="row"
                             data-columnbreak="2"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             data-responsive="off"
                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-margintop="[0,0,0,0]"
                             data-marginright="[0,0,0,0]"
                             data-marginbottom="[0,0,0,0]"
                             data-marginleft="[0,0,0,0]"
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[150,100,50,50]"
                             data-paddingright="[100,50,40,40]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[100,50,40,40]"
                             style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                            <!-- LAYER NR. 11 -->
                            <div class="tp-caption  "
                                 id="slide-42-layer-15"
                                 data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                                 data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="column"
                                 data-responsive_offset="on"
                                 data-responsive="off"
                                 data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-columnwidth="100%"
                                 data-margintop="[0,0,0,0]"
                                 data-marginright="[0,0,0,0]"
                                 data-marginbottom="[0,0,0,0]"
                                 data-marginleft="[0,0,0,0]"
                                 data-textAlign="['inherit','inherit','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; width: 100%;">
                                <!-- LAYER NR. 12 -->
                                <div class="tp-caption   tp-resizeme  blurslider-gradient"
                                     id="slide-42-layer-1"
                                     data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['0','0','230','110']"
                                     data-fontsize="['110','90','100','70']"
                                     data-lineheight="['100','90','100','70']"
                                     data-width="['none','none','none','399']"
                                     data-height="none"
                                     data-whitespace="['nowrap','nowrap','nowrap','normal']"
                                     data-type="text"
                                     data-basealign="slide"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":"+290","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                     data-margintop="[0,0,0,0]"
                                     data-marginright="[0,0,0,0]"
                                     data-marginbottom="[30,20,30,30]"
                                     data-marginleft="[0,0,0,0]"
                                     data-textAlign="['inherit','inherit','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,40,40]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,40,40]"
                                     style="z-index: 7; white-space: nowrap; font-size: 110px; line-height: 100px; font-weight: 400; color: rgba(255, 255, 255, 1.00); display: inline-block;font-family:Poppins;">
                                    explore rvsldr<br />
                                    options.
                                </div>
                                <!-- LAYER NR. 13 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-42-layer-2"
                                     data-x="['left','left','center','center']" data-hoffset="['0','50','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['0','430','460','290']"
                                     data-fontsize="['40','30','40','25']"
                                     data-lineheight="['50','40','50','30']"
                                     data-width="['640','360','100%','100%']"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-type="text"
                                     data-basealign="slide"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":"+490","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                     data-margintop="[0,0,0,0]"
                                     data-marginright="[0,0,0,0]"
                                     data-marginbottom="[40,30,20,20]"
                                     data-marginleft="[0,0,0,0]"
                                     data-textAlign="['inherit','inherit','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 8; min-width: 640px; max-width: 640px; white-space: normal; font-size: 40px; line-height: 50px; font-weight: 300; color: rgba(255, 255, 255, 1.00); display: block;font-family:Poppins;">we added many new features in the latest update.</div>
                                <!-- LAYER NR. 14 -->
                                <a class="tp-caption rev-btn  tp-resizeme"
                                   href="https://wrapbootstrap.com/theme/express-responsive-bootstrap-template-WB0TR1711" target="_blank" id="slide-42-layer-13"
                                   data-x="['left','left','center','center']" data-hoffset="['0','50','0','0']"
                                   data-y="['top','top','top','top']" data-voffset="['0','540','590','400']"
                                   data-width="none"
                                   data-height="none"
                                   data-whitespace="['normal','nowrap','nowrap','nowrap']"
                                   data-type="button"
                                   data-actions=''
                                   data-basealign="slide"
                                   data-responsive_offset="on"
                                   data-frames='[{"delay":"+690","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"}]'
                                   data-margintop="[0,0,0,0]"
                                   data-marginright="[0,0,0,0]"
                                   data-marginbottom="[0,0,0,0]"
                                   data-marginleft="[0,0,0,0]"
                                   data-textAlign="['inherit','inherit','inherit','inherit']"
                                   data-paddingtop="[0,0,0,0]"
                                   data-paddingright="[35,35,35,35]"
                                   data-paddingbottom="[0,0,0,0]"
                                   data-paddingleft="[35,35,35,35]"
                                   style="z-index: 9; white-space: normal; font-size: 17px; line-height: 50px; font-weight: 600; color: rgba(255, 255, 255, 1.00); display: inline-block;font-family:Poppins;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">buy a license</a>
                            </div>
                        </div>
                    </div>
                    <!-- LAYER NR. 15 -->
                    <div class="tp-caption tp-shape tp-shapewrapper   blurslider-line"
                         id="slide-42-layer-16"
                         data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
                         data-width="['380','380','240','100%']"
                         data-height="['100','100','152','152']"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off"
                         data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"opacity:0;fb:20px;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-blendmode="overlay"
                         style="z-index: 10;background-color:rgba(255, 255, 255, 0.15);cursor:pointer;"></div>
                    <!-- LAYER NR. 16 -->
                    <div class="tp-caption  "
                         id="slide-42-layer-17"
                         data-x="['left','left','left','center']" data-hoffset="['100','100','45','0']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','40','83','88']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off"
                         data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 11; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Georgia, serif;font-style:italic;">Start Scrolling</div>
                    <!-- LAYER NR. 17 -->
                    <div class="tp-caption tp-shape tp-shapewrapper "
                         id="slide-42-layer-18"
                         data-x="['left','left','left','center']" data-hoffset="['278','278','120','0']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['32','32','35','36']"
                         data-width="1"
                         data-height="40"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off"
                         data-frames='[{"delay":1100,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:0;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-blendmode="overlay"
                         style="z-index: 12;background-color:rgba(255, 255, 255, 1.00);"></div>
                    <!-- LAYER NR. 18 -->
                    <div class="tp-caption  "
                         id="slide-42-layer-19"
                         data-x="['left','left','left','center']" data-hoffset="['272','272','114','0']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['32','32','34','35']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="image"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off"
                         data-frames='[{"delay":1100,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:0;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 13;">
                        <div class="rs-looped rs-slideloop" data-easing="Power2.easeInOut" data-speed="1" data-xs="0" data-xe="0" data-ys="-34" data-ye="0"><img src="/content/sliders/rs-demo/assets/images/arrow2x.png" alt="" data-ww="['13px','13px','13px','13px']" data-hh="['7px','7px','7px','7px']" data-no-retina> </div>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li class="dark" data-index="rs-43" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/content/sliders/rs-demo/assets/images/100x50_blurbg10.jpg" data-rotate="0" data-saveperformance="off" data-title="Three" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/content/sliders/rs-demo/assets/images/blurbg10.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <div id="rrzt_43" class="rev_row_zone rev_row_zone_top" style="z-index: 5;">
                        <!-- LAYER NR. 19 -->
                        <div class="tp-caption  "
                             id="slide-43-layer-14"
                             data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                             data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="row"
                             data-columnbreak="2"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             data-responsive="off"
                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-margintop="[0,0,0,0]"
                             data-marginright="[0,0,0,0]"
                             data-marginbottom="[0,0,0,0]"
                             data-marginleft="[0,0,0,0]"
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[150,100,50,50]"
                             data-paddingright="[100,50,40,40]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[100,50,40,40]"
                             style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                            <!-- LAYER NR. 20 -->
                            <div class="tp-caption  "
                                 id="slide-43-layer-15"
                                 data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                                 data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="column"
                                 data-responsive_offset="on"
                                 data-responsive="off"
                                 data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-columnwidth="100%"
                                 data-margintop="[0,0,0,0]"
                                 data-marginright="[0,0,0,0]"
                                 data-marginbottom="[0,0,0,0]"
                                 data-marginleft="[0,0,0,0]"
                                 data-textAlign="['inherit','inherit','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; width: 100%;">
                                <!-- LAYER NR. 21 -->
                                <div class="tp-caption   tp-resizeme  blurslider-gradient"
                                     id="slide-43-layer-1"
                                     data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['0','0','230','110']"
                                     data-fontsize="['110','90','100','70']"
                                     data-lineheight="['100','90','100','70']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="text"
                                     data-basealign="slide"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":"+290","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                     data-margintop="[0,0,0,0]"
                                     data-marginright="[0,0,0,0]"
                                     data-marginbottom="[30,20,30,30]"
                                     data-marginleft="[0,0,0,0]"
                                     data-textAlign="['inherit','inherit','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,40,40]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,40,40]"
                                     style="z-index: 7; white-space: nowrap; font-size: 110px; line-height: 100px; font-weight: 400; color: rgba(255, 255, 255, 1.00); display: inline-block;font-family:Poppins;">why not<br />start now.</div>
                                <!-- LAYER NR. 22 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-43-layer-2"
                                     data-x="['left','left','center','center']" data-hoffset="['0','50','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['0','430','460','290']"
                                     data-fontsize="['40','30','40','25']"
                                     data-lineheight="['50','40','50','30']"
                                     data-width="['640','360','100%','100%']"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-type="text"
                                     data-basealign="slide"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":"+490","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                     data-margintop="[0,0,0,0]"
                                     data-marginright="[0,0,0,0]"
                                     data-marginbottom="[40,30,20,20]"
                                     data-marginleft="[0,0,0,0]"
                                     data-textAlign="['inherit','inherit','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 8; min-width: 640px; max-width: 640px; white-space: normal; font-size: 40px; line-height: 50px; font-weight: 300; color: rgba(255, 255, 255, 1.00); display: block;font-family:Poppins;">this and many more templates are included with each license purchase.</div>
                                <!-- LAYER NR. 23 -->
                                <a class="tp-caption rev-btn  tp-resizeme"
                                   href="https://wrapbootstrap.com/theme/express-responsive-bootstrap-template-WB0TR1711" target="_blank" id="slide-43-layer-13"
                                   data-x="['left','left','center','center']" data-hoffset="['0','50','0','0']"
                                   data-y="['top','top','top','top']" data-voffset="['0','540','590','400']"
                                   data-width="none"
                                   data-height="none"
                                   data-whitespace="['normal','nowrap','nowrap','nowrap']"
                                   data-type="button"
                                   data-actions=''
                                   data-basealign="slide"
                                   data-responsive_offset="on"
                                   data-frames='[{"delay":"+690","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"}]'
                                   data-margintop="[0,0,0,0]"
                                   data-marginright="[0,0,0,0]"
                                   data-marginbottom="[0,0,0,0]"
                                   data-marginleft="[0,0,0,0]"
                                   data-textAlign="['inherit','inherit','inherit','inherit']"
                                   data-paddingtop="[0,0,0,0]"
                                   data-paddingright="[35,35,35,35]"
                                   data-paddingbottom="[0,0,0,0]"
                                   data-paddingleft="[35,35,35,35]"
                                   style="z-index: 9; white-space: normal; font-size: 17px; line-height: 50px; font-weight: 600; color: rgba(255, 255, 255, 1.00); display: inline-block;font-family:Poppins;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">buy a license</a>
                            </div>
                        </div>
                    </div>
                    <!-- LAYER NR. 24 -->
                    <div class="tp-caption tp-shape tp-shapewrapper   blurslider-line"
                         id="slide-43-layer-16"
                         data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
                         data-width="['380','380','240','100%']"
                         data-height="['100','100','152','152']"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off"
                         data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"opacity:0;fb:20px;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-blendmode="overlay"
                         style="z-index: 10;background-color:rgba(255, 255, 255, 0.15);cursor:pointer;"></div>
                    <!-- LAYER NR. 25 -->
                    <div class="tp-caption  "
                         id="slide-43-layer-17"
                         data-x="['left','left','left','center']" data-hoffset="['100','100','45','0']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','40','83','88']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off"
                         data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 11; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Georgia, serif;font-style:italic;">Start Scrolling</div>
                    <!-- LAYER NR. 26 -->
                    <div class="tp-caption tp-shape tp-shapewrapper "
                         id="slide-43-layer-18"
                         data-x="['left','left','left','center']" data-hoffset="['278','278','120','0']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['32','32','35','36']"
                         data-width="1"
                         data-height="40"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off"
                         data-frames='[{"delay":1100,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:0;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-blendmode="overlay"
                         style="z-index: 12;background-color:rgba(255, 255, 255, 1.00);"></div>
                    <!-- LAYER NR. 27 -->
                    <div class="tp-caption  "
                         id="slide-43-layer-19"
                         data-x="['left','left','left','center']" data-hoffset="['272','272','114','0']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['32','32','34','35']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="image"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off"
                         data-frames='[{"delay":1100,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:0;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 13;">
                        <div class="rs-looped rs-slideloop" data-easing="Power2.easeInOut" data-speed="1" data-xs="0" data-xe="0" data-ys="-34" data-ye="0"><img src="/content/sliders/rs-demo/assets/images/arrow2x.png" alt="" data-ww="['13px','13px','13px','13px']" data-hh="['7px','7px','7px','7px']" data-no-retina> </div>
                    </div>
                </li>
            </ul>
            <div style="" class="tp-static-layers">
                <!-- LAYER NR. 28 -->
                <div class="tp-caption   tp-static-layer"
                     id="slider-17-layer-29"
                     data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','bottom','bottom']" data-voffset="['-50','-50','119','119']"
                     data-width="['260','260','200','70']"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-startslide="0"
                     data-endslide="2"
                     data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 17; min-width: 260px; max-width: 260px; white-space: nowrap; font-size: 15px; line-height: 15px; font-weight: 500; color: rgba(255, 255, 255, 1.00);font-family:Poppins;">1<div class="blurslider-line" style="display:inline-block;width:40px;height:1px;background:#fff;margin: 10px 20px 4px 15px;"></div>solutions</div>
                <!-- LAYER NR. 29 -->
                <div class="tp-caption tp-shape tp-shapewrapper  tp-static-layer"
                     id="slider-17-layer-22"
                     data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','bottom','bottom']" data-voffset="['-50','-50','102','102']"
                     data-width="['300','300','240','30%']"
                     data-height="50"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="shape"
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-startslide="0"
                     data-endslide="2"
                     data-frames='[{"delay":"bytrigger","speed":800,"frame":"0","from":"x:[-100%];","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"bytrigger","speed":500,"frame":"999","to":"x:[-100%];opacity:1;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power4.easeOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-blendmode="overlay"
                     data-lasttriggerstate="reset"
                     style="z-index: 18;background-color:rgba(0, 0, 0, 0.25);cursor:pointer;"></div>
                <!-- LAYER NR. 30 -->
                <div class="tp-caption tp-shape tp-shapewrapper  tp-static-layer"
                     id="slider-17-layer-21"
                     data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','bottom','bottom']" data-voffset="['-50','-50','102','102']"
                     data-width="['300','300','240','30%']"
                     data-height="50"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="shape"
                     data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slider-17-layer-22","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slider-17-layer-22","delay":""},{"event":"click","action":"jumptoslide","slide":"rs-41","delay":""}]'
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-startslide="0"
                     data-endslide="2"
                     data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"x:[-100%];","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Power4.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bs:solid;bw:0 0 0 0;"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-blendmode="overlay"
                     style="z-index: 19;background-color:rgba(255, 255, 255, 0.05);border-color:rgba(0, 0, 0, 0);cursor:pointer;"></div>
                <!-- LAYER NR. 31 -->
                <div class="tp-caption   tp-static-layer"
                     id="slider-17-layer-28"
                     data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','bottom','bottom']" data-voffset="['0','0','68','68']"
                     data-width="['260','260','200','70']"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-startslide="0"
                     data-endslide="2"
                     data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 20; min-width: 260px; max-width: 260px; white-space: nowrap; font-size: 15px; line-height: 15px; font-weight: 500; color: rgba(255, 255, 255, 1.00);font-family:Poppins;">2<div class="blurslider-line" style="display:inline-block;width:40px;height:1px;background:#fff;margin: 10px 20px 4px 15px;"></div>explore</div>
                <!-- LAYER NR. 32 -->
                <div class="tp-caption tp-shape tp-shapewrapper  tp-static-layer"
                     id="slider-17-layer-24"
                     data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','bottom','bottom']" data-voffset="['1','1','51','51']"
                     data-width="['300','300','240','30%']"
                     data-height="50"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="shape"
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-startslide="0"
                     data-endslide="2"
                     data-frames='[{"delay":"bytrigger","speed":800,"frame":"0","from":"x:[-100%];","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"bytrigger","speed":500,"frame":"999","to":"x:[-100%];opacity:1;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power4.easeOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-blendmode="overlay"
                     data-lasttriggerstate="reset"
                     style="z-index: 21;background-color:rgba(0, 0, 0, 0.25);cursor:pointer;"></div>
                <!-- LAYER NR. 33 -->
                <div class="tp-caption tp-shape tp-shapewrapper  tp-static-layer"
                     id="slider-17-layer-23"
                     data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','bottom','bottom']" data-voffset="['1','1','51','51']"
                     data-width="['300','300','240','30%']"
                     data-height="50"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="shape"
                     data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slider-17-layer-24","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slider-17-layer-24","delay":""},{"event":"click","action":"jumptoslide","slide":"rs-42","delay":""}]'
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-startslide="0"
                     data-endslide="2"
                     data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"x:[-100%];","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Power4.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bs:solid;bw:0 0 0 0;"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-blendmode="overlay"
                     style="z-index: 22;background-color:rgba(255, 255, 255, 0.05);border-color:rgba(0, 0, 0, 0);cursor:pointer;"></div>
                <!-- LAYER NR. 34 -->
                <div class="tp-caption   tp-static-layer"
                     id="slider-17-layer-27"
                     data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','bottom','bottom']" data-voffset="['50','50','17','17']"
                     data-width="['260','260','200','70']"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-startslide="0"
                     data-endslide="2"
                     data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 23; min-width: 260px; max-width: 260px; white-space: nowrap; font-size: 15px; line-height: 15px; font-weight: 500; color: rgba(255, 255, 255, 1.00);font-family:Poppins;">3<div class="blurslider-line" style="display:inline-block;width:40px;height:1px;background:#fff;margin: 10px 20px 4px 15px;"></div>get started</div>
                <!-- LAYER NR. 35 -->
                <div class="tp-caption tp-shape tp-shapewrapper  tp-static-layer"
                     id="slider-17-layer-26"
                     data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','bottom','bottom']" data-voffset="['52','52','0','0']"
                     data-width="['300','300','240','30%']"
                     data-height="50"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="shape"
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-startslide="0"
                     data-endslide="2"
                     data-frames='[{"delay":"bytrigger","speed":800,"frame":"0","from":"x:[-100%];","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"bytrigger","speed":500,"frame":"999","to":"x:[-100%];opacity:1;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power4.easeOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-blendmode="overlay"
                     data-lasttriggerstate="reset"
                     style="z-index: 24;background-color:rgba(0, 0, 0, 0.25);cursor:pointer;"></div>
                <!-- LAYER NR. 36 -->
                <div class="tp-caption tp-shape tp-shapewrapper  tp-static-layer"
                     id="slider-17-layer-25"
                     data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','bottom','bottom']" data-voffset="['52','52','0','0']"
                     data-width="['300','300','240','30%']"
                     data-height="50"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="shape"
                     data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slider-17-layer-26","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slider-17-layer-26","delay":""},{"event":"click","action":"jumptoslide","slide":"rs-43","delay":""}]'
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-startslide="0"
                     data-endslide="2"
                     data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"x:[-100%];","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Power4.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bs:solid;bw:0 0 0 0;"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-blendmode="overlay"
                     style="z-index: 25;background-color:rgba(255, 255, 255, 0.05);border-color:rgba(0, 0, 0, 0);cursor:pointer;"></div>
            </div>
            <div class="tp-bannertimer" style="height: 10px; background-color: rgba(255, 255, 255, 0.25);"></div>
        </div>
    </div><!-- END REVOLUTION SLIDER -->
    <!-- END REVOLUTION SLIDER WRAPPER -->
</section>

<!--End Slider-->

@using (Html.BeginScripts())
{
    <script src="/Content/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/Content/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <script type="text/javascript">
        var tpj = jQuery;

        var revapi17;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_17_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_17_1");
            } else {
                revapi17 = tpj("#rev_slider_17_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "../../vendor/rs-plugin/js/",
                    sliderLayout: "fullscreen",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "vertical",
                        mouseScrollNavigation: "off",
                        mouseScrollReverse: "default",
                        onHoverStop: "off",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        }
                        ,
                        arrows: {
                            style: "uranus",
                            enable: true,
                            hide_onmobile: false,
                            hide_over: 479,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 0,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 0,
                                v_offset: 0
                            }
                        }
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: [1240, 1024, 778, 480],
                    gridheight: [868, 768, 960, 720],
                    lazyType: "none",
                    scrolleffect: {
                        blur: "on",
                        maxblur: "20",
                        on_slidebg: "on",
                        direction: "top",
                        multiplicator: "2",
                        multiplicator_layers: "2",
                        tilt: "10",
                        disable_on_mobile: "off",
                    },
                    parallax: {
                        type: "scroll",
                        origo: "slidercenter",
                        speed: 400,
                        levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                    },
                    shadow: 0,
                    spinner: "spinner3",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    fullScreenAutoWidth: "off",
                    fullScreenAlignForce: "off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "0",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        });	/*ready*/
    </script>
}