@using (Html.BeginCss())
{
    <link rel="stylesheet" href="/Content/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="/Content/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="/Content/vendor/rs-plugin/css/navigation.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,800,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
}

<style>
    .light_heavy_70_shadowed {
        font-size: 70px;
        line-height: 70px;
        font-weight: 800;
        font-family: Raleway;
        color: #ffffff;
        text-decoration: none;
        background-color: transparent;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.20);
        border-width: 0px;
        border-color: rgb(0, 0, 0);
        border-style: none;
    }

    .light_medium_30_shadowed {
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        font-family: Raleway;
        color: #ffffff;
        text-decoration: none;
        background-color: transparent;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.20);
        border-width: 0px;
        border-color: rgb(0, 0, 0);
        border-style: none;
    }
</style>

<div class="slider-container slider-container-height-550 rev_slider_wrapper">
    <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.7" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': [1140,960,720,540], 'gridheight': [550,550,550,550], 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,576], 'navigation' : {'arrows': { 'enable': true, 'style': 'slider-arrows-style-1' }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 35, 'h_offset': 0}}}">
        <ul>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                <!-- MAIN IMAGE -->
                <img src="~/Content/img/mix/man-look-up.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <div class="tp-caption light_heavy_70_shadowed  tp-resizeme rs-parallaxlevel-0"
                     id="slide-309-layer-1"
                     data-x="['left','left','left','left']" data-hoffset="[250','250','130','17']"
                     data-y="['top','top','top','top']" data-voffset="['110','110','80','160']"
                     data-fontsize="['75','70','70','60']"
                     data-lineheight="['80','70','60','60']"
                     data-width="['none','none','none','400']"
                     data-height="none"
                     data-whitespace="['nowrap','nowrap','nowrap','normal']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="500"
                     data-splitin="none"
                     data-splitout="none"
                     data-basealign="slide"
                     data-responsive_offset="off"
                     style="z-index: 6; white-space: nowrap;">
                    MODERN DESIGN
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption light_medium_30_shadowed  rs-parallaxlevel-0"
                     id="slide-309-layer-4"
                     data-x="['left','left','left','left']" data-hoffset="['250','250','130','20']"
                     data-y="['top','top','top','top']" data-voffset="['220','220','170','160']"
                     data-fontsize="['30','30','30','20']"
                     data-lineheight="['37,'37','32','20']"
                     data-width="['500','500','500','500']"
                     data-height="['60','100','100','100']"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-start="650"
                     data-splitin="none"
                     data-splitout="none"
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     style="z-index: 7;">
                    Simple yet powerful options allow
                    you to create & design any type
                    of website you can imagine.
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption light_medium_30_shadowed rs-parallaxlevel-0"
                     id="slide-309-layer-7"
                     data-x="['left','left','left','left']" data-hoffset="['250','250','130','20']"
                     data-y="['top','top','top','top']" data-voffset="['350','350','270','160']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                     data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-start="650"
                     data-splitin="none"
                     data-splitout="none"
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-fontsize="['25','25','25','20']"
                     style="z-index: 8;font-weight:400;">
                    ―  Express Team
                </div>
            </li>
        </ul>
    </div>
</div>

@using (Html.BeginScripts())
{
    <script src="/Content/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/Content/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
}