@using (Html.BeginCss())
{
    <link href="~/Content/sliders/layer-slider/layerslider/css/layerslider.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700" rel="stylesheet">
}

<!--Slider-->

<div id="slider1" style="width:1200px;height:650px;margin:0 auto;margin-bottom: 0px;">

    <!-- Slide 1-->
    <div class="ls-slide" data-ls="bgsize:cover; duration:4000; kenburnsscale:1.2; parallaxevent:scroll; parallaxdurationmove:0;">
        <img width="1920" height="1001" src="/Content/img/custom/bench-accounting.jpg" class="ls-bg" alt="" />
        <div style="top:50%; left:50%; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; width:100%; height:100%; background:rgba(51, 9, 23, 0.2);" class="ls-l" data-ls="showinfo:1; static:forever; position:fixed;"></div>
        <p style="text-shadow: 0 1px 2px rgba(0,0,0,0.3);top:289px; left:50%; text-align:initial; font-weight:600;font-family:Poppins; font-style:normal; text-decoration:none; color:#ffffff; font-size:75px;" class="ls-l" data-ls="showinfo:1; offsetyin:-20; static:forever;">WELCOME TO EXPRESS</p>
        <p style="top:390px; left:50%; text-align:initial; font-weight:400; font-style:italic; text-decoration:none; color:#ffffff; font-size:20px;" class="ls-l" data-ls="showinfo:1; offsetyin:-20; delayin:50; static:forever;">intersection of beauty and clarity</p>
        <p style="cursor:pointer;top:440px; text-align:initial; font-weight:600; font-style:normal; text-decoration:none; font-size:16px; line-height:46px; padding-right:38px; padding-left:38px; left:50%; color:#ffffff;" class="ls-l bg-primary" data-ls="showinfo:1; offsetyin:-20; delayin:100; hover:true; hoverdurationin:300; hoveropacity:1; hoverbgcolor:#ff4281; static:forever;">PURCHASE NOW</p>
    </div>
    <!-- Slide 2-->
    <div class="ls-slide" data-ls="duration:4000; kenburnsscale:1.2;">
        <img width="1920" height="899" src="/Content/sliders/layer-slider/BeautyShop/images/mainslide2.jpg" class="ls-bg" alt="" />
    </div>
</div>

<!--End Slider-->

@using (Html.BeginScripts())
{
    <script src="~/Content/sliders/layer-slider/layerslider/js/greensock.js"></script>
    <script src="~/Content/sliders/layer-slider/layerslider/js/layerslider.transitions.js"></script>
    <script src="~/Content/sliders/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>

    <!-- Initializing the slider -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#slider1').layerSlider({
                sliderVersion: '6.5.0b1',
                type: 'fullwidth',
                allowFullscreen: false,
                maxRatio: 1,
                hideUnder: 567,
                pauseOnHover: 'disabled',
                skin: 'v6',
                navStartStop: false,
                thumbnailNavigation: 'disabled',
                skinsPath: '/Content/sliders/layer-slider/layerslider/skins/',
            });

            $('#slider1-mobile').layerSlider({
                sliderVersion: '6.5.0b1',
                type: 'fullsize',
                allowFullscreen: false,
                maxRatio: 1,
                hideOver: 567,
                skin: 'v6',
                navPrevNext: false,
                hoverPrevNext: false,
                navStartStop: false,
                navButtons: false,
                skinsPath: '/Content/sliders/layer-slider/layerslider/skins/',
                height: 600
            });
        });
    </script>
}