@using ExpressMVC.Models.Common

@Html.ExpressMenu()

@Html.ExpressFooter()



<div id="googlemaps" class="google-map"></div>




<section class="section">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <span class="top-sub-title text-color-primary appear-animation" data-appear-animation="fadeInUpShorter">LOREM IPSUM DOLOR SIT</span>
                <h2 class="appear-animation" data-appear-animation="fadeInUpShorter">Get in Touch With Us</h2>
                <p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">If you have any further questions or queries please do not hesitate to get in touch.</p>
            </div>
        </div>
        @Html.ExpressSpace(ExpressMVC.UI.Size.Small)
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="icon-box icon-box-style-1">
                            <div class="icon-box-icon">
                                <i class="lnr lnr-apartment text-color-primary"></i>
                            </div>
                            <div class="icon-box-info mt-1">
                                <div class="icon-box-info-title">
                                    <h3 class="font-weight-bold text-4 mb-0">Address</h3>
                                </div>
                                <p>1234 Street Name, City Name, USA</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="icon-box icon-box-style-1">
                            <div class="icon-box-icon icon-box-icon-no-top">
                                <i class="lnr lnr-envelope text-color-primary"></i>
                            </div>
                            <div class="icon-box-info mt-1">
                                <div class="icon-box-info-title">
                                    <h3 class="font-weight-bold text-4 mb-0">Email Address</h3>
                                </div>
                                <p><a href="mailto:you@domain.com">you@domain.com</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="icon-box icon-box-style-1">
                            <div class="icon-box-icon">
                                <i class="lnr lnr-phone-handset text-color-primary"></i>
                            </div>
                            <div class="icon-box-info mt-1">
                                <div class="icon-box-info-title">
                                    <h3 class="font-weight-bold text-4 mb-0">Phone Number</h3>
                                </div>
                                <p><a href="tel:+1234567890">(123) 456-7890</a> - <a href="tel:+1234567890">(123) 456-7890</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         @Html.ExpressSpace(ExpressMVC.UI.Size.Small)
        <div class="row justify-content-center pt-5">

            <div class="col-lg-9 text-center">
                <form class="contact-form form-style-2" action="#" method="POST">
                    <div class="contact-form-success alert alert-success d-none">
                        <strong>Success!</strong> Your message has been sent to us.
                    </div>
                    <div class="contact-form-error alert alert-danger d-none">
                        <strong>Error!</strong> There was an error sending your message.
                        <span class="mail-error-message d-block"></span>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" placeholder="Name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" placeholder="E-mail" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <textarea maxlength="5000" data-msg-required="Please enter your message." rows="7" class="form-control" name="message" id="message" placeholder="Message" required></textarea>
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <div class="col">
                            <input type="submit" value="SEND MESSAGE" class="btn btn-primary btn-rounded btn-4 text-0" data-loading-text="Loading...">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light-3">
    <div class="container mb-lg-5">
        <div class="row mb-4">
            <div class="col">
                <div class="overflow-hidden">
                    <span class="d-block top-sub-title text-color-primary appear-animation" data-appear-animation="maskUp">GET IN TOUCH WITH US</span>
                </div>
                <div class="overflow-hidden mb-2">
                    <h2 class="mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Our Locations</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
                <span class="top-sub-title">USA</span>
                <h3 class="font-weight-bold text-4">Los Angeles</h3>
                <span class="d-block">1234 Street Name, City Name</span>
                <a href="mailto:example@domain.com">example@domain.com</a>
                <span class="d-block mb-3">
                    <a href="tel:+1234567890">(123) 456-7890</a> - <a href="tel:+1234567890">(123) 456-7890</a>
                </span>
                <a href="#" class="text-color-primary font-weight-bold learn-more" onClick="showDirectionOnMap('34.0247948', '-118.3543755', event)">GET DIRECTIONS <i class="fas fa-angle-right"></i></a>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                <span class="top-sub-title">USA</span>
                <h3 class="font-weight-bold text-4">New York</h3>
                <span class="d-block">1234 Street Name, City Name</span>
                <a href="mailto:example@domain.com">example@domain.com</a>
                <span class="d-block mb-3">
                    <a href="tel:+1234567890">(123) 456-7890</a> - <a href="tel:+1234567890">(123) 456-7890</a>
                </span>
                <a href="#" class="text-color-primary font-weight-bold learn-more" onClick="showDirectionOnMap('40.75198', '-73.96978', event)">GET DIRECTIONS <i class="fas fa-angle-right"></i></a>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4 mb-sm-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800">
                <span class="top-sub-title">BRAZIL</span>
                <h3 class="font-weight-bold text-4">Rio de Janeiro</h3>
                <span class="d-block">1234 Street Name, City Name</span>
                <a href="mailto:example@domain.com">example@domain.com</a>
                <span class="d-block mb-3">
                    <a href="tel:+1234567890">(123) 456-7890</a> - <a href="tel:+1234567890">(123) 456-7890</a>
                </span>
                <a href="#" class="text-color-primary font-weight-bold learn-more" onClick="showDirectionOnMap('-22.9843416', '-43.2069634', event)">GET DIRECTIONS <i class="fas fa-angle-right"></i></a>
            </div>
            <div class="col-sm-6 col-lg-3 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000">
                <span class="top-sub-title">GERMANY</span>
                <h3 class="font-weight-bold text-4">Munich</h3>
                <span class="d-block">1234 Street Name, City Name</span>
                <a href="mailto:example@domain.com">example@domain.com</a>
                <span class="d-block mb-3">
                    <a href="tel:+1234567890">(123) 456-7890</a> - <a href="tel:+1234567890">(123) 456-7890</a>
                </span>
                <a href="#" class="text-color-primary font-weight-bold learn-more" onClick="showDirectionOnMap('48.1536012', '11.5226179', event)">GET DIRECTIONS <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</section>



<style>
    .google-map { 
    height: 450px; 
}
</style>


@using (Html.BeginScripts())
{
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIy24644w-ZBEOCfMfzYPYeULbuKJg_rs"></script>
		<script>

			/*
			Map Settings

				Find the Latitude and Longitude of your address:
					- http://universimmedia.pagesperso-orange.fr/geo/loc.htm
					- http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

			*/
			(function( $ ) {

				'use strict';

				// Map Markers
				var mapMarkers = [{
					address: "217 Summit Boulevard, Birmingham, AL 35243",
					html: "<strong>Alabama Office</strong><br>217 Summit Boulevard, Birmingham, AL 35243",
					icon: {
						image: "img/pin.png",
						iconsize: [26, 46],
						iconanchor: [12, 46]
					}
				},{
					address: "645 E. Shaw Avenue, Fresno, CA 93710",
					html: "<strong>California Office</strong><br>645 E. Shaw Avenue, Fresno, CA 93710",
					icon: {
						image: "img/pin.png",
						iconsize: [26, 46],
						iconanchor: [12, 46]
					}
				},{
					address: "New York, NY 10017",
					html: "<strong>New York Office</strong><br>New York, NY 10017",
					icon: {
						image: "img/pin.png",
						iconsize: [26, 46],
						iconanchor: [12, 46]
					}
				}];

				// Map Initial Location
				var initLatitude = 40.75198;
				var initLongitude = -73.96978;

				// Map Extended Settings
				var mapSettings = {
					controls: {
						panControl: true,
						zoomControl: true,
						mapTypeControl: true,
						scaleControl: true,
						streetViewControl: true,
						overviewMapControl: true
					},
					scrollwheel: false,
					markers: mapMarkers,
					latitude: initLatitude,
					longitude: initLongitude,
					zoom: 4
				};

				var map = $('#googlemaps').gMap(mapSettings);

				var mapRef = $('#googlemaps').data('gMap.reference');

				// Styles from https://snazzymaps.com/
				var styles = [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}];

				var styledMap = new google.maps.StyledMapType(styles, {
					name: 'Styled Map'
				});

				mapRef.mapTypes.set('map_style', styledMap);
				mapRef.setMapTypeId('map_style');

				// Redraw Map On Resize
				$(window).afterResize(function(){
					$('#googlemaps').gMap(mapSettings);
					var mapRef = $('#googlemaps').data('gMap.reference');

					mapRef.mapTypes.set('map_style', styledMap);
					mapRef.setMapTypeId('map_style');
				});

			}).apply( this, [ jQuery ]);

		</script>
}