@model ExpressMVC.Models.Form.NewsletterFormModel

<div class="newsletter-form-1">
    <h2 class="text-5 mb-3">Joing Our Newsletter</h2>
    <h5 class="text-4 mb-5">Subscribe for free resources and news updates.</h5>

    @using (Html.BeginForm("ActionName", "ControlerName", FormMethod.Post, new { @class = "form-style-2" }))
    {
        <div class="form-group">
            @Html.TextBoxFor(model => model.Name, new { placeholder = "Your name", maxlength = "100", @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.TextBoxFor(model => model.Email, new { placeholder = "Your email address", maxlength = "100", @class = "form-control" })
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-rounded mt-3 mb-3"> Send Your Message </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <p class="text-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Cum natoque. <a href="#">Aenean commodo</a> ligula eget dolor.
                </p>
            </div>
        </div>
    }
</div>