<ul class="list list-unstyled">
    <li class="mb-2">
        <a href="#" class="font-weight-semibold"><i class="fas fa-angle-right ml-1 mr-1 pr-2"></i> Design (2)</a>
    </li>
    <li class="mb-2">
        <a href="#" class="font-weight-semibold text-color-primary"><i class="fas fa-angle-right ml-1 mr-1 pr-2" id="photos" data-toggle="collapse" data-target="#submenuPhotos" aria-expanded="true" aria-controls="submenuPhotos" role="list" onclick="return false;"></i> Photos (4)</a>
        <ul class="list list-unstyled collapse show" id="submenuPhotos" aria-labelledby="photos">
            <li>
                <a href="#">Animals</a>
            </li>
            <li>
                <a href="#">Business (4)</a>
            </li>
            <li>
                <a href="#">Sports</a>
            </li>
        </ul>
    </li>
    <li class="mb-2">
        <a href="#" class="font-weight-semibold"><i class="fas fa-angle-right ml-1 mr-1 pr-2"></i> Videos (2)</a>
    </li>
    <li class="mb-2">
        <a href="#" class="font-weight-semibold"><i class="fas fa-angle-right ml-1 mr-1 pr-2"></i> Lifestyle (4)</a>
    </li>
    <li class="mb-2">
        <a href="#" class="font-weight-semibold"><i class="fas fa-angle-right ml-1 mr-1 pr-2"></i> Technology (1)</a>
    </li>
</ul>