@using (Html.BeginCss())
{

    <link href="~/Content/sliders/layer-slider/layerslider/css/layerslider.css" rel="stylesheet" />

}

<!--Slider-->

<div id="slider" style="width:1180px;height:620px;max-width:1180px;margin:0 auto;margin-bottom: 0px;">

    <!-- Slide 2-->
    <div class="ls-slide" data-ls="duration:9500; transition2d:5; timeshift:-3000; kenburnsscale:1.2;">
        <img width="1180" height="620" src="/Content/sliders/layer-slider/layerslider-v5/images/bg4.jpg" class="ls-bg" alt="" />
        <p style="opacity: .3; font-weight: 300;font-family:Lato, 'Open Sans', sans-serif; font-size:200px; color:#ffffff; top:-17px; left:815px;" class="ls-l" data-ls="durationin:2000; delayin:1000; easingin:linear; scalexin:0; scaleyin:0; durationout:2000; startatout:transitioninend + 1; easingout:linear; scalexout:2; scaleyout:2; parallaxlevel:0;">&amp;</p>
        <h1 style="font-weight: 300;font-family:Lato, 'Open Sans', sans-serif; font-size:40px; color:#ffffff; top:60px; left:700px;" class="ls-l" data-ls="offsetxin:50; durationin:3000; rotateyin:60; transformoriginin:right 50% 0; offsetxout:-50; durationout:3000; startatout:transitioninend + 400; rotateyout:-60; transformoriginout:left 50% 0; parallaxlevel:0;">
            RESPONSIVE
        </h1>
        <h2 style="font-weight: 500;font-family:Lato, 'Open Sans', sans-serif; font-size:30px; color:#286e89; top:100px; left:701px;" class="ls-l" data-ls="offsetxin:-50; durationin:3000; delayin:500; rotateyin:-60; transformoriginin:left 50% 0; offsetxout:50; durationout:3000; startatout:transitioninend + 1; rotateyout:60; transformoriginout:right 50% 0; parallaxlevel:0;">
            mobile ready
        </h2>
        <h1 style="font-weight: 300;height:40px; padding-right:10px; padding-left:10px; font-family:Lato, HelveticaNeue-UltraLight, HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, serif; font-size:30px; line-height:37px; color:#ffffff; background:#29768f; border-radius:4px; top:497px; left:718px;" class="ls-l" data-ls="durationin:4000; delayin:2000; rotateyin:450; transformoriginin:right 50% 0; durationout:500; startatout:transitioninend + 1; easingout:easeInBack; rotateyout:-90; transformoriginout:right 50% 0; parallaxlevel:0;">
            VERSION
        </h1>
        <h3 style="font-weight: 300;font-family:Lato, 'Open Sans', sans-serif; font-size:400px; color:#ffffff; top:180px; left:850px;" class="ls-l" data-ls="durationin:4000; delayin:2000; rotateyin:450; transformoriginin:left 50% 0; durationout:500; startatout:transitioninend + 1; easingout:easeInBack; rotateyout:90; transformoriginout:left 50% 0; parallaxlevel:0;">
            5
        </h3>
        <h1 style="font-weight: 300; text-align: right;font-family:Lato, 'Open Sans', sans-serif; font-size:30px; color:#ffffff; top:461px; left:700px;" class="ls-l" data-ls="durationin:3500; delayin:6500; easingin:easeOutElastic; rotateyin:-90; transformoriginin:right 50% 0; durationout:500; rotateyout:-90; transformoriginout:right 50% 0; parallaxlevel:0;">
            <span style="color: #286e89;">WITH HUGE</span>
            <br>
            AND
        </h1>
        <h3 style="font-weight: 300;font-family:Lato, 'Open Sans', sans-serif; font-size:30px; color:#ffffff; top:461px; left:873px;" class="ls-l" data-ls="durationin:3500; delayin:6500; easingin:easeOutElastic; rotateyin:90; transformoriginin:left 50% 0; durationout:500; rotateyout:90; transformoriginout:left 50% 0; parallaxlevel:0;">
            <span style="color: #286e89;">PERFORMANCE</span>
            <br>
            FEATURE UPDATE
        </h3> 
        <img width="875" height="628" src="/Content/sliders/layer-slider/layerslider-v5/images/slide-a-1.png" class="ls-l" alt="" style="width:765px; top:180px; left:-82px;" data-ls="offsetyin:100; durationin:2000; delayin:1000; offsetxout:-100; offsetyout:50; durationout:2000; startatout:transitioninend + 2010; parallaxlevel:0;">
        <img width="426" height="55" src="/Content/sliders/layer-slider/layerslider-v5/images/slide-a-2.png" class="ls-l" alt="" style="top:495px; left:135px;" data-ls="offsetyin:100; durationin:2000; delayin:1000; offsetxout:-100; offsetyout:50; durationout:2000; startatout:transitioninend + 2010; parallaxlevel:0;">
        <img width="459" height="260" src="/Content/sliders/layer-slider/layerslider-v5/images/slide-a-3.png" class="ls-l" alt="" style="top:275px; left:135px;" data-ls="offsetyin:100; durationin:2000; delayin:1000; durationout:1500; startatout:transitioninend + 500; scalexout:1.2; scaleyout:1.2; parallaxlevel:0;">
        <img width="459" height="260" src="/Content/sliders/layer-slider/layerslider-v5/images/slide-a-4.png" class="ls-l" alt="" style="top:275px; left:135px;" data-ls="durationin:1500; delayin:3500; scalexin:1.5; scaleyin:1.5; offsetxout:-100; offsetyout:50; durationout:2000; startatout:transitioninend + 1; parallaxlevel:0;">
        <img width="33" height="33" src="/Content/sliders/layer-slider/layerslider-v5/images/slide-a-6.png" class="ls-l" alt="" style="top:476px; left:436px;" data-ls="durationin:1; delayin:3498; durationout:750; startatout:transitioninend + 1; easingout:easeOutSine; scalexout:10; scaleyout:10; parallaxlevel:0;">
        <img width="311" height="354" src="/Content/sliders/layer-slider/layerslider-v5/images/slide-a-5.png" class="ls-l" alt="" style="top:475px; left:383px;" data-ls="offsetyin:bottom; delayin:2500; offsetyout:bottom; startatout:transitioninend + 1; parallaxlevel:0;">
        <div style="width:10px; height:400px; background:#29768f; border-radius:2px; top:80px; left:610px;" class="ls-l" data-ls="durationin:2000; delayin:6000; scaleyin:0; transformoriginin:50% bottom 0; durationout:500; scaleyout:0; transformoriginout:50% bottom 0; parallaxlevel:0;"></div>
        <div style="opacity: .5;width:10px; height:50px; background:#ffffff; border-radius:2px; top:430px; left:590px;" class="ls-l" data-ls="durationin:2000; delayin:6000; scaleyin:0; transformoriginin:50% bottom 0; durationout:500; scaleyout:0; transformoriginout:50% bottom 0; parallaxlevel:0;"></div>
        <p style="font-style: italic; text-align: center; font-weight: 500; opacity: .75;font-family:Lato, 'Open Sans', sans-serif; font-size:24px; line-height:25px; color:#ffffff; top:489px; left:533px;" class="ls-l" data-ls="delayin:6500; scalexin:2; scaleyin:2; durationout:500; scalexout:2; scaleyout:2; parallaxlevel:0;">
            8x
            <br>
            performance
        </p>
        <div style="width:10px; height:200px; background:#29768f; border-radius:2px; top:280px; left:410px;" class="ls-l" data-ls="durationin:2000; delayin:6500; scaleyin:0; transformoriginin:50% bottom 0; durationout:500; scaleyout:0; transformoriginout:50% bottom 0; parallaxlevel:0;"></div>
        <div style="opacity: .5;width:10px; height:50px; background:#ffffff; border-radius:2px; top:430px; left:390px;" class="ls-l" data-ls="durationin:2000; delayin:6500; scaleyin:0; transformoriginin:50% bottom 0; durationout:500; scaleyout:0; transformoriginout:50% bottom 0; parallaxlevel:0;"></div>
        <p style="font-style: italic; text-align: center; font-weight: 500; opacity: .75;font-family:Lato, 'Open Sans', sans-serif; font-size:24px; line-height:25px; color:#ffffff; top:489px; left:349px;" class="ls-l" data-ls="delayin:7000; scalexin:2; scaleyin:2; durationout:500; scalexout:2; scaleyout:2; parallaxlevel:0;">
            many new
            <br>
            features
        </p>
        <img width="80" height="80" src="/Content/sliders/layer-slider/layerslider-v5/images/feature-responsive.png" class="ls-l" alt="" style="opacity: .75;width:60px; top:420px; left:200px;" data-ls="offsetxin:-50; delayin:6500; rotatein:90; scalexin:3; scaleyin:3; transformoriginin:25% 25% 0; offsetxout:-50; durationout:400; rotateout:90; scalexout:.5; scaleyout:.5; parallaxlevel:0;">
        <img width="80" height="80" src="/Content/sliders/layer-slider/layerslider-v5/images/feature-layers.png" class="ls-l" alt="" style="opacity: .75;width:60px; top:350px; left:200px;" data-ls="offsetxin:-50; delayin:6700; rotatein:90; scalexin:3; scaleyin:3; transformoriginin:25% 25% 0; offsetxout:-50; durationout:400; rotateout:90; scalexout:.5; scaleyout:.5; parallaxlevel:0;">
        <img width="80" height="80" src="/Content/sliders/layer-slider/layerslider-v5/images/feature-mobile.png" class="ls-l" alt="" style="opacity: .75;width:60px; top:280px; left:200px;" data-ls="offsetxin:-50; delayin:6900; rotatein:90; scalexin:3; scaleyin:3; transformoriginin:25% 25% 0; offsetxout:-50; durationout:400; rotateout:90; scalexout:.5; scaleyout:.5; parallaxlevel:0;">
        <img width="80" height="80" src="/Content/sliders/layer-slider/layerslider-v5/images/feature-options.png" class="ls-l" alt="" style="opacity: .75;width:60px; top:210px; left:200px;" data-ls="offsetxin:-50; delayin:7100; rotatein:90; scalexin:3; scaleyin:3; transformoriginin:25% 25% 0; offsetxout:-50; durationout:400; rotateout:90; scalexout:.5; scaleyout:.5; parallaxlevel:0;">
        <img width="80" height="80" src="/Content/sliders/layer-slider/layerslider-v5/images/feature-performance.png" class="ls-l" alt="" style="opacity: .75;width:60px; top:140px; left:200px;" data-ls="offsetxin:-50; delayin:7300; rotatein:90; scalexin:3; scaleyin:3; transformoriginin:25% 25% 0; offsetxout:-50; durationout:400; rotateout:90; scalexout:.5; scaleyout:.5; parallaxlevel:0;">
        <img width="80" height="80" src="/Content/sliders/layer-slider/layerslider-v5/images/feature-slideshow.png" class="ls-l" alt="" style="opacity: .75;width:60px; top:70px; left:200px;" data-ls="offsetxin:-50; delayin:7500; rotatein:90; scalexin:3; scaleyin:3; transformoriginin:25% 25% 0; offsetxout:-50; durationout:400; rotateout:90; scalexout:.5; scaleyout:.5; parallaxlevel:0;">
        <img width="80" height="80" src="/Content/sliders/layer-slider/layerslider-v5/images/feature-youtube.png" class="ls-l" alt="" style="opacity: .75;width:60px; top:420px; left:130px;" data-ls="offsetxin:-50; delayin:7000; rotatein:90; scalexin:3; scaleyin:3; transformoriginin:25% 25% 0; offsetxout:-50; durationout:400; rotateout:90; scalexout:.5; scaleyout:.5; parallaxlevel:0;">
        <img width="80" height="81" src="/Content/sliders/layer-slider/layerslider-v5/images/feature-vimeo.png" class="ls-l" alt="" style="opacity: .75;width:60px; top:350px; left:130px;" data-ls="offsetxin:-50; delayin:7200; rotatein:90; scalexin:3; scaleyin:3; transformoriginin:25% 25% 0; offsetxout:-50; durationout:400; rotateout:90; scalexout:.5; scaleyout:.5; parallaxlevel:0;">
        <img width="80" height="80" src="/Content/sliders/layer-slider/layerslider-v5/images/feature-html5.png" class="ls-l" alt="" style="opacity: .75;width:60px; top:280px; left:130px;" data-ls="offsetxin:-50; delayin:7400; rotatein:90; scalexin:3; scaleyin:3; transformoriginin:25% 25% 0; offsetxout:-50; durationout:400; rotateout:90; scalexout:.5; scaleyout:.5; parallaxlevel:0;">
        <img width="80" height="81" src="/Content/sliders/layer-slider/layerslider-v5/images/feature-ios.png" class="ls-l" alt="" style="opacity: .75;width:60px; top:210px; left:130px;" data-ls="offsetxin:-50; delayin:7600; rotatein:90; scalexin:3; scaleyin:3; transformoriginin:25% 25% 0; offsetxout:-50; durationout:400; rotateout:90; scalexout:.5; scaleyout:.5; parallaxlevel:0;">
        <img width="80" height="81" src="/Content/sliders/layer-slider/layerslider-v5/images/feature-android.png" class="ls-l" alt="" style="opacity: .75;width:60px; top:140px; left:130px;" data-ls="offsetxin:-50; delayin:7800; rotatein:90; scalexin:3; scaleyin:3; transformoriginin:25% 25% 0; offsetxout:-50; durationout:400; rotateout:90; scalexout:.5; scaleyout:.5; parallaxlevel:0;">
        <img width="80" height="80" src="/Content/sliders/layer-slider/layerslider-v5/images/feature-wordpress.png" class="ls-l" alt="" style="opacity: .75;width:60px; top:70px; left:130px;" data-ls="offsetxin:-50; delayin:8000; rotatein:90; scalexin:3; scaleyin:3; transformoriginin:25% 25% 0; offsetxout:-50; durationout:400; rotateout:90; scalexout:.5; scaleyout:.5; parallaxlevel:0;">
    </div>

    <!-- Slide 3-->
    <div class="ls-slide" data-ls="duration:8000; transition2d:4; kenburnsscale:1.2;">
        <img width="1180" height="620" src="/Content/sliders/layer-slider/layerslider-v5/images/slide-b-bg.jpg" class="ls-bg" alt="" />
        <p style="font-weight: 300;font-family:'Open Sans', sans-serif; font-size:30px; color:#ffffff; top:32%; left:50%;" class="ls-l" data-ls="offsetxin:50; durationin:750; easingin:easeOutBack; skewxin:-50; offsetxout:-50; durationout:600; startatout:transitioninend + 500; easingout:easeInBack; skewxout:50; parallaxlevel:0;">introducing</p>
        <p style="font-weight: 600;font-family:'Open Sans', sans-serif; font-size:50px; color:#ffffff; top:40%; left:50%;" class="ls-l" data-ls="offsetxin:-100; durationin:750; delayin:250; easingin:easeOutBack; skewxin:-50; offsetxout:100; durationout:600; startatout:transitioninend + 500; easingout:easeInBack; skewxout:50; parallaxlevel:0;">EXPRESS OF WORLD</p>
        <img width="1510" height="1208" src="/Content/sliders/layer-slider/layerslider-v5/images/slide-b-1.png" class="ls-l" alt="" style="width:120%; height:auto; top:20%; left:50%;" data-ls="offsetxin:-100; durationin:2000; delayin:1500; offsetxout:-100; parallax:true; parallaxlevel:-2;">
        <img width="1126" height="549" src="/Content/sliders/layer-slider/layerslider-v5/images/slide-b-2.png" class="ls-l" alt="" style="top:303px; left:237px;" data-ls="offsetxin:50; durationin:2000; delayin:1500; offsetxout:50; parallax:true; parallaxlevel:1;">
        <img width="729" height="476" src="/Content/sliders/layer-slider/layerslider-v5/images/slide-b-3.png" class="ls-l" alt="" style="top:403px; left:483px;" data-ls="offsetxin:100; durationin:2000; delayin:1500; offsetxout:100; parallax:true; parallaxlevel:3;">
        <img width="533" height="455" src="/Content/sliders/layer-slider/layerslider-v5/images/slide-b-4.png" class="ls-l" alt="" style="top:406px; left:586px;" data-ls="offsetxin:150; durationin:2000; delayin:1500; offsetxout:150; parallax:true; parallaxlevel:5;">
        <img width="369" height="442" src="/Content/sliders/layer-slider/layerslider-v5/images/slide-b-5.png" class="ls-l" alt="" style="top:371px; left:659px;" data-ls="offsetxin:200; durationin:2000; delayin:1500; offsetxout:200; parallax:true; parallaxlevel:7;">
        <p style="font-weight: 500;font-family:Lato, 'Open Sans', sans-serif; font-size:35px; color:#ffffff; top:37%; left:690px;" class="ls-l" data-ls="durationin:1500; delayin:1500; rotateyin:90; transformoriginin:left 50% 0; durationout:1500; startatout:transitioninend + 1000; rotateyout:-90; transformoriginout:left 50% 0; parallaxlevel:0;">
            Move your mouse
            <br>
            over this slide!
        </p>
        <img width="70" height="163" src="/Content/sliders/layer-slider/layerslider-v5/images/mouse.png" class="ls-l" alt="" style="top:35%; left:585px;" data-ls="durationin:1500; delayin:1500; rotateyin:90; transformoriginin:right 50% 0; durationout:1500; startatout:transitioninend + 1000; rotateyout:-90; transformoriginout:right 50% 0; parallaxlevel:0;">
        <p style="font-weight: 300;height:40px; padding-right:10px; padding-left:10px; font-family:Lato, 'Open Sans', sans-serif; font-size:30px; line-height:37px; color:#849e00; background:#ffffff; border-radius:4px; top:460px; left:50px;" class="ls-l" data-ls="durationin:2000; delayin:3500; rotatein:-45; rotateyin:-1; scalexin:.5; scaleyin:.5; transformoriginin:left bottom 0; rotateout:45; scalexout:2; scaleyout:2; transformoriginout:right bottom 0; parallaxlevel:0;">FANCY PARALLAX EFFECT</p>
        <p style="font-weight: 500;font-family:Lato, 'Open Sans', sans-serif; font-size:30px; color:#ffffff; top:500px; left:50px;" class="ls-l" data-ls="durationin:2000; delayin:3500; rotatein:-45; scalexin:2; scaleyin:2; transformoriginin:right top 0; rotateout:45; scalexout:2; scaleyout:2; transformoriginout:left top 0; parallaxlevel:0;">by mouse move</p>
    </div>

    <!-- Slide 4-->
    <div class="ls-slide" data-ls="duration:5500; transition2d:11; kenburnsscale:1.2;">
        <img width="1180" height="620" src="/Content/sliders/layer-slider/layerslider-v5/images/bg51.jpg" class="ls-bg" alt="" />
        <img width="1180" height="620" src="/Content/sliders/layer-slider/layerslider-v5/images/bg31.jpg" class="ls-l" alt="" style="top:0px; left:0px;" data-ls="durationin:2000; scalexin:1.1; scaleyin:1.1; durationout:400; parallaxlevel:0;">
        <p style="font-weight: 300; background: white; background: rgba(255,255,255,.2);height:40px; padding-right:10px; padding-left:10px; font-family:Lato, 'Open Sans', sans-serif; font-size:30px; line-height:37px; color:#ffe9db; top:50%; left:50%;" class="ls-l" data-ls="rotatexin:-70; scalexin:3; scaleyin:3; startatout:transitioninend + 500; rotatexout:70; scalexout:.5; scaleyout:.5; parallaxlevel:0;">embedding videos?</p>
        <div style="background: white; background: rgba(255,255,255,.2); box-shadow: 0px 5px 70px -20px black;width:660px; height:380px; top:100px; left:50%;" class="ls-l" data-ls="durationin:2000; delayin:1500; easingin:easeInOutExpo; rotatexin:20; scalexin:.8; scaleyin:.8; transformoriginin:50% 50% -150; rotatexout:-20; scalexout:.8; scaleyout:.8; transformoriginout:50% 50% -150; parallaxlevel:0;"></div>
        <div style="top:110px; left:50%;" class="ls-l" data-ls="durationin:2000; delayin:1500; easingin:easeInOutExpo; rotatexin:20; scalexin:.8; scaleyin:.8; transformoriginin:50% 50% -150; rotatexout:-20; scalexout:.8; scaleyout:.8; transformoriginout:50% 50% -150; parallaxlevel:0;">
            <iframe width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen data-src="//player.vimeo.com/video/15069551?title=0&amp;byline=0&amp;portrait=0&amp;color=f75402"></iframe>
        </div>
        <img width="90" height="90" src="/Content/sliders/layer-slider/layerslider-v5/images/youtube-color.png" class="ls-l" alt="" style="top:80%; left:35%;" data-ls="offsetxin:-100; delayin:2500; easingin:easeInOutCubic; rotatein:-180; offsetxout:300; easingout:easeInOutCubic; rotateout:360; parallaxlevel:0;">
        <img width="90" height="90" src="/Content/sliders/layer-slider/layerslider-v5/images/vimeo-color.png" class="ls-l" alt="" style="top:80%; left:50%;" data-ls="offsetxin:-200; delayin:2550; easingin:easeInOutCubic; rotatein:-270; offsetxout:200; easingout:easeInOutCubic; rotateout:270; parallaxlevel:0;">
        <img width="90" height="90" src="/Content/sliders/layer-slider/layerslider-v5/images/html5-color.png" class="ls-l" alt="" style="top:80%; left:65%;" data-ls="offsetxin:-300; delayin:2600; easingin:easeInOutCubic; rotatein:-360; offsetxout:100; easingout:easeInOutCubic; rotateout:180; parallaxlevel:0;">
        <p style="opacity: .75;font-family:Lato, 'Open Sans', sans-serif; font-size:15px; color:#ffdcc7; top:630px; left:35%;" class="ls-l" data-ls="durationin:500; delayin:3300; easingin:easeOutBack; scalexin:0; scaleyin:0; durationout:500; scalexout:4; scaleyout:4; parallaxlevel:0;">video</p>
        <p style="opacity: .75;font-family:Lato, 'Open Sans', sans-serif; font-size:15px; color:#ffdcc7; top:630px; left:50%;" class="ls-l" data-ls="durationin:500; delayin:3350; easingin:easeOutBack; scalexin:0; scaleyin:0; durationout:500; scalexout:4; scaleyout:4; parallaxlevel:0;">video</p>
        <p style="opacity: .75;font-family:Lato, 'Open Sans', sans-serif; font-size:15px; color:#ffdcc7; top:630px; left:65%;" class="ls-l" data-ls="durationin:500; delayin:3400; easingin:easeOutBack; scalexin:0; scaleyin:0; durationout:500; scalexout:4; scaleyout:4; parallaxlevel:0;">video + audio</p>
        <p style="font-weight: 300; background: black; background: rgba(0,0,0,.2);height:40px; padding-right:10px; padding-left:10px; font-family:Lato, 'Open Sans', sans-serif; font-size:30px; line-height:37px; color:#ffe9db; top:30px; left:30px;" class="ls-l" data-ls="offsetxin:150; delayin:3000; skewxin:-60; offsetxout:-150; durationout:400; skewxout:60; parallaxlevel:0;">RICH MEDIA SUPPORT </p>
        <p style="font-weight: 300; background: black; background: rgba(0,0,0,.2);height:40px; padding-right:10px; padding-left:10px; font-family:Lato, 'Open Sans', sans-serif; font-size:30px; line-height:37px; color:#ffe9db; top:30px; left:735px;" class="ls-l" data-ls="offsetxin:-150; delayin:3000; skewxin:60; offsetxout:150; durationout:400; skewxout:-60; parallaxlevel:0;">WITH OPTIONAL AUTOPLAY</p>
    </div>
</div>

<!--End Slider-->

@using (Html.BeginScripts())
{
    <script src="~/Content/sliders/layer-slider/layerslider/js/greensock.js"></script>
    <script src="~/Content/sliders/layer-slider/layerslider/js/layerslider.transitions.js"></script>
    <script src="~/Content/sliders/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>

    <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#slider').layerSlider({
            sliderVersion: '6.0.0',
            responsiveUnder: 0,
            layersContainer: 0,
            skin: 'v5',
            skinsPath: '/Content/sliders/layer-slider/layerslider/skins/',
        });
    });
    </script>
}