@using ExpressMVC.SampleData
@using ExpressMVC.Models.Common
@using ExpressMVC.Models.Shortcodes

@Html.ExpressMenu()

@Html.ExpressPageHeader(new PageHeaderModel(title: "Blockquote"))

@Html.ExpressFooter()

<div class="has-sidebar has-left-sidebar bordered">

    <div class="container">
        <div class="row">

            <div class="col-md-3 left-side-sidebar pr-none pt-50 pb-50">
                @Html.ExpressSidebar(new SidebarModel(name: "ShortcodeMenu"))
            </div>

            <div class="col-md-9 right-side-sidebar pt-50 pb-50">
 
            </div>
        </div>
    </div>
</div>
