@using ExpressMVC.Models.Common

<footer id="footer" class="footer-hover-links-light mt-0">
    <div class="container container-xl">


        <div class="row">
            <div class="col-lg-3 mb-4 mb-lg-0">
                <a href="index.html" class="logo">
                    <img alt="Express Web App" class="img-fluid mb-4 pb-2" src="~/Content/img/logo-white.png">
                </a>
                <ul class="list list-unstyled">
                    <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <span class="text-color-light">Address:</span> 1234 Street Name, City Name, USA</li>
                    <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <span class="text-color-light">Phone:</span> <a href="tel:+1234567890">(123) 456-7890</a></li>
                    <li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <span class="text-color-light">Email:</span> <a href="mailto:mail@example.com" class="link-underline-light">mail@example.com</a></li>
                </ul>
            </div>
            <div class="col-lg-3 mb-4 mb-lg-0">
                <h2 class="text-2 font-weight-semibold mb-4">RECENT POSTS</h2>
                <div class="mb-3">
                    <p class="mb-2">
                        <a href="blog-single-post.html" class="text-color-light-2">Phasellus blandit enim nullam id.</a>
                    </p>
                    <a href="blog-single-post.html"><i class="far fa-clock"></i> Jan 17, 2018</a>
                </div>
                <div class="mb-3">
                    <p class="mb-2">
                        <a href="blog-single-post.html" class="text-color-light-2">Blandit massa enim id.</a>
                    </p>
                    <a href="blog-single-post.html"><i class="far fa-clock"></i> Jan 15, 2018</a>
                </div>
                <div class="mb-3">
                    <p class="mb-2">
                        <a href="blog-single-post.html" class="text-color-light-2">Phasellus massa enim nullam id.</a>
                    </p>
                    <a href="blog-single-post.html"><i class="far fa-clock"></i> Jan 12, 2018</a>
                </div>
            </div>
            <div class="col-lg-3 mb-4 mb-lg-0">
                <h2 class="text-2 font-weight-semibold mb-4">LATEST TWEET</h2>
                <div id="tweet" class="twitter" data-plugin-tweets data-plugin-options="{'username': 'boostraptemplates', 'count': 1}">
                    <p>Please wait...</p>
                </div>
            </div>
            <div class="col-lg-3">
                <h2 class="text-2 font-weight-semibold mb-4">INSTAGRAM FEED</h2>
                <div id="instafeedBasic"></div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container container-xl">
            <div class="row text-center text-md-left align-items-center">
                <div class="col-md-7 col-lg-8">
                    <ul class="social-icons social-icons-transparent social-icons-icon-light social-icons-lg">
                        <li class="social-icons-facebook">
                            <a href="http://www.facebook.com/" target="_blank" title="Facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="social-icons-twitter">
                            <a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="social-icons-instagram">
                            <a href="http://www.instagram.com/" target="_blank" title="Instagram">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 col-lg-4">
                    <p class="text-md-right pb-0 mb-0">Copyrights © 2018. All Rights Reserved by Express</p>
                </div>
            </div>
        </div>
    </div>
</footer>