<section class="section-primary main-color b-bordered" style="background: #fafafa url(/Content/img/custom/arch-hero-t.png) right 0/auto 100% no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <i class="ion-android-checkmark-circle fs-60 primary-color"></i>
                <h4 class="fs-13 fw-6 o-6 mt-20 mb-5 body-font">DON'T WORRY! WE ARE WITH YOU TO HELP</h4>
                <h2 class="section-title mt-10 fs-36">
                    Express will help you to create awesome <br /> websites in less time.
                </h2>

                <hr class="invisible small" />

                <div class="clearfix content-center">
                    <ul class="list-inline flex-block clearfix">
                        <li class="item exp-animation slow" data-animation="bottom-to-top" data-delay="100">
                            <img src="/Content/img/icons/win8-icon-medium@2x.png" width="55" />
                            <a class="mt-10" href="#">Windows</a>
                        </li>
                        <li class="item exp-animation slow" data-animation="bottom-to-top" data-delay="200">
                            <img src="/Content/img/icons/icon-aspdotnet@2x.png" width="55" />
                            <a class="mt-10" href="#">ASP.NET</a>
                        </li>
                        <li class="item exp-animation slow" data-animation="bottom-to-top" data-delay="300">
                            <img src="/Content/img/icons/android-icon-medium@2x.png" width="55" />
                            <a class="mt-10" href="#">Android</a>
                        </li>
                        <li class="item exp-animation slow" data-animation="bottom-to-top" data-delay="400">
                            <img src="/Content/img/icons/silverlight-icon-med@2x.png" width="55" />
                            <a class="mt-10" href="#">Silverlight</a>
                        </li>
                        <li class="item exp-animation slow" data-animation="bottom-to-top" data-delay="500">
                            <img src="/Content/img/icons/Html-tags-icon.png" width="55" />
                            <a class="mt-10" href="#">Html</a>
                        </li>
                    </ul>
                </div>
                <hr class="invisible small" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a class="btn standard accent sf-icon-stroke item-shadow" href="#" target="_self">
                    <i class="fa fa-link"></i>
                    <span class="text">GET STARTED NOW!</span>
                </a>

                <span class="video-link-wrap ml-10">
                    <span class="icon"></span> <a href="#">How it works</a>
                </span>
            </div>
        </div>
    </div>
</section>