
<div class="StripeBackground-container">
    <div class="StripeBackground-large">
        <div class="stripe s1"></div>
        <div class="stripe s2"></div>
        <div class="stripe s3"></div>
        <div class="stripe s4"></div>
        <div class="stripe s5"></div>
        <div class="stripe s6"></div>
        <div class="stripe s7"></div>
        <div class="stripe s8"></div>
        <div class="stripe s9"></div>
        <div class="stripe s10"></div>
        <div class="stripe s11"></div>
        <div class="stripe s12"></div>
        <div class="stripe s13"></div>
        <div class="gradient"></div>
        <div class="stripe below"></div>
        <div class="dots"></div>
    </div>
</div>