@model ExpressMVC.Models.Blog.BlogListModel

@Html.ExpressMenu()

@Html.ExpressFooter()

@using (Html.BeginCss())
{
    <link href="/Content/vendor/dzsparallaxer/dzsparallaxer.css" rel="stylesheet" />
    <link href="/Content/vendor/dzsparallaxer/dzsscroller/scroller.css" rel="stylesheet" />
    <link href="/Content/vendor/dzsparallaxer/advancedscroller/plugin.css" rel="stylesheet" />
}

@using (Html.BeginScripts())
{
    <script src="/Content/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="/Content/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="/Content/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
}

<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall b-bordered bg-overlay--gradient-dark">

    <div class="divimage dzsparallaxer--target w-100" style="height: 120%; background-image: url(/Content/img/mix/man-look-up.jpg);">
    </div>

    <div class="container pt-175 pb-100 text-center text-white z-index-1">
        <div class="row">

            <div class="col-md-12">
                <h2 class="fs-40 fw-7 mb-15">
                    Blog Grid Four Columns
                </h2>
                <p class="section-sub-title">Build stunning fluid layout of news and sidebars</p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">

        @Html.ExpressBlog(Model)
    </div>
</section>